dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/OBS/V1/OBSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/OBS/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/OBS/V1" name="OBSService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/OBS/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateOBS">
                <xsd:sequence>
                    <xsd:element name="OBS" type="tns:OBS" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateOBSResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateOBS" type="tns:CreateOBS"/>
            <xsd:element name="CreateOBSResponse" type="tns:CreateOBSResponse"/>

            <xsd:complexType name="ReadOBS">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:OBSFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadOBSResponse">
                <xsd:sequence>
                    <xsd:element name="OBS" type="tns:OBS" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadOBS" type="tns:ReadOBS"/>
            <xsd:element name="ReadOBSResponse" type="tns:ReadOBSResponse"/>

            <xsd:simpleType name="OBSFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="Description"/>
                    <xsd:enumeration value="GUID"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="ParentObjectId"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateOBS">
                <xsd:sequence>
                    <xsd:element name="OBS" type="tns:OBS" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateOBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateOBS" type="tns:UpdateOBS"/>
            <xsd:element name="UpdateOBSResponse" type="tns:UpdateOBSResponse"/>

            <xsd:complexType name="DeleteOBS">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="DeleteWithReplacement" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                                <xsd:element name="ReplacementObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteOBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteOBS" type="tns:DeleteOBS"/>
            <xsd:element name="DeleteOBSResponse" type="tns:DeleteOBSResponse"/>

            <xsd:complexType name="getFieldLengthOBS">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthOBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthOBS" type="tns:getFieldLengthOBS"/>
            <xsd:element name="getFieldLengthOBSResponse" type="tns:getFieldLengthOBSResponse"/>

            <xsd:complexType name="ReadOBSPath">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="Field" type="tns:OBSFieldType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadOBSPathResponse">
                <xsd:sequence>
                    <xsd:element name="OBS" type="tns:OBS" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadOBSPath" type="tns:ReadOBSPath"/>
            <xsd:element name="ReadOBSPathResponse" type="tns:ReadOBSPathResponse"/>

            <xsd:complexType name="OBS">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="GUID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}|"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ParentObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateOBS">
        <wsdl:part name="params" element="tns:CreateOBS"/>
    </wsdl:message>
    <wsdl:message name="CreateOBSResponse">
        <wsdl:part name="result" element="tns:CreateOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadOBS">
        <wsdl:part name="params" element="tns:ReadOBS"/>
    </wsdl:message>
    <wsdl:message name="ReadOBSResponse">
        <wsdl:part name="result" element="tns:ReadOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateOBS">
        <wsdl:part name="params" element="tns:UpdateOBS"/>
    </wsdl:message>
    <wsdl:message name="UpdateOBSResponse">
        <wsdl:part name="result" element="tns:UpdateOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteOBS">
        <wsdl:part name="params" element="tns:DeleteOBS"/>
    </wsdl:message>
    <wsdl:message name="DeleteOBSResponse">
        <wsdl:part name="result" element="tns:DeleteOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthOBS">
        <wsdl:part name="params" element="tns:getFieldLengthOBS"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthOBSResponse">
        <wsdl:part name="result" element="tns:getFieldLengthOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadOBSPath">
        <wsdl:part name="params" element="tns:ReadOBSPath"/>
    </wsdl:message>
    <wsdl:message name="ReadOBSPathResponse">
        <wsdl:part name="result" element="tns:ReadOBSPathResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="OBSPortType">
        <wsdl:operation name="CreateOBS">
            <wsdl:input name="CreateOBSRequest" message="tns:CreateOBS"/>
            <wsdl:output name="CreateOBSResponse" message="tns:CreateOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadOBS">
            <wsdl:input name="ReadOBSRequest" message="tns:ReadOBS"/>
            <wsdl:output name="ReadOBSResponse" message="tns:ReadOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateOBS">
            <wsdl:input name="UpdateOBSRequest" message="tns:UpdateOBS"/>
            <wsdl:output name="UpdateOBSResponse" message="tns:UpdateOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteOBS">
            <wsdl:input name="DeleteOBSRequest" message="tns:DeleteOBS"/>
            <wsdl:output name="DeleteOBSResponse" message="tns:DeleteOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthOBS">
            <wsdl:input name="getFieldLengthOBSRequest" message="tns:getFieldLengthOBS"/>
            <wsdl:output name="getFieldLengthOBSResponse" message="tns:getFieldLengthOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadOBSPath">
            <wsdl:input name="ReadOBSPathRequest" message="tns:ReadOBSPath"/>
            <wsdl:output name="ReadOBSPathResponse" message="tns:ReadOBSPathResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OBSPortBinding" type="tns:OBSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateOBS">
            <soap:operation soapAction="CreateOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadOBS">
            <soap:operation soapAction="ReadOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateOBS">
            <soap:operation soapAction="UpdateOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteOBS">
            <soap:operation soapAction="DeleteOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthOBS">
            <soap:operation soapAction="getFieldLengthOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadOBSPath">
            <soap:operation soapAction="ReadOBSPath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OBSService">
        <wsdl:port name="OBSPort" binding="tns:OBSPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/OBSService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>