dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/ActivityCode/V1/ActivityCodeService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCode/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCode/V1" name="ActivityCodeService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCode/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateActivityCodes">
                <xsd:sequence>
                    <xsd:element name="ActivityCode" type="tns:ActivityCode" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateActivityCodesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateActivityCodes" type="tns:CreateActivityCodes"/>
            <xsd:element name="CreateActivityCodesResponse" type="tns:CreateActivityCodesResponse"/>

            <xsd:complexType name="ReadActivityCodes">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ActivityCodeFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadActivityCodesResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityCode" type="tns:ActivityCode" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadActivityCodes" type="tns:ReadActivityCodes"/>
            <xsd:element name="ReadActivityCodesResponse" type="tns:ReadActivityCodesResponse"/>

            <xsd:simpleType name="ActivityCodeFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CodeTypeName"/>
                    <xsd:enumeration value="CodeTypeObjectId"/>
                    <xsd:enumeration value="CodeTypeScope"/>
                    <xsd:enumeration value="CodeValue"/>
                    <xsd:enumeration value="Color"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="Description"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="ParentObjectId"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateActivityCodes">
                <xsd:sequence>
                    <xsd:element name="ActivityCode" type="tns:ActivityCode" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateActivityCodesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateActivityCodes" type="tns:UpdateActivityCodes"/>
            <xsd:element name="UpdateActivityCodesResponse" type="tns:UpdateActivityCodesResponse"/>

            <xsd:complexType name="DeleteActivityCodes">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteActivityCodesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteActivityCodes" type="tns:DeleteActivityCodes"/>
            <xsd:element name="DeleteActivityCodesResponse" type="tns:DeleteActivityCodesResponse"/>

            <xsd:complexType name="getFieldLengthActivityCode">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthActivityCodeResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthActivityCode" type="tns:getFieldLengthActivityCode"/>
            <xsd:element name="getFieldLengthActivityCodeResponse" type="tns:getFieldLengthActivityCodeResponse"/>

            <xsd:complexType name="ReadActivityCodePath">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="Field" type="tns:ActivityCodeFieldType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadActivityCodePathResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityCode" type="tns:ActivityCode" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadActivityCodePath" type="tns:ReadActivityCodePath"/>
            <xsd:element name="ReadActivityCodePathResponse" type="tns:ReadActivityCodePathResponse"/>

            <xsd:complexType name="LoadActivities">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                    <xsd:element name="Fields" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="WhereClause" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LoadActivitiesResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityObjectIds" type="xsd:string" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="LoadActivities" type="tns:LoadActivities"/>
            <xsd:element name="LoadActivitiesResponse" type="tns:LoadActivitiesResponse"/>

            <xsd:complexType name="ActivityCode">
                <xsd:sequence>
                    <xsd:element name="CodeTypeName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CodeTypeObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="CodeTypeScope" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Global"/>
                                <xsd:enumeration value="EPS"/>
                                <xsd:enumeration value="Project"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CodeValue" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="60"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Color" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="#[A-Fa-f0-9]{6}|"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Description" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ParentObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateActivityCodes">
        <wsdl:part name="params" element="tns:CreateActivityCodes"/>
    </wsdl:message>
    <wsdl:message name="CreateActivityCodesResponse">
        <wsdl:part name="result" element="tns:CreateActivityCodesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodes">
        <wsdl:part name="params" element="tns:ReadActivityCodes"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodesResponse">
        <wsdl:part name="result" element="tns:ReadActivityCodesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityCodes">
        <wsdl:part name="params" element="tns:UpdateActivityCodes"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityCodesResponse">
        <wsdl:part name="result" element="tns:UpdateActivityCodesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityCodes">
        <wsdl:part name="params" element="tns:DeleteActivityCodes"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityCodesResponse">
        <wsdl:part name="result" element="tns:DeleteActivityCodesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityCode">
        <wsdl:part name="params" element="tns:getFieldLengthActivityCode"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityCodeResponse">
        <wsdl:part name="result" element="tns:getFieldLengthActivityCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodePath">
        <wsdl:part name="params" element="tns:ReadActivityCodePath"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodePathResponse">
        <wsdl:part name="result" element="tns:ReadActivityCodePathResponse"/>
    </wsdl:message>
    <wsdl:message name="LoadActivities">
        <wsdl:part name="params" element="tns:LoadActivities"/>
    </wsdl:message>
    <wsdl:message name="LoadActivitiesResponse">
        <wsdl:part name="result" element="tns:LoadActivitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ActivityCodePortType">
        <wsdl:operation name="CreateActivityCodes">
            <wsdl:input name="CreateActivityCodesRequest" message="tns:CreateActivityCodes"/>
            <wsdl:output name="CreateActivityCodesResponse" message="tns:CreateActivityCodesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodes">
            <wsdl:input name="ReadActivityCodesRequest" message="tns:ReadActivityCodes"/>
            <wsdl:output name="ReadActivityCodesResponse" message="tns:ReadActivityCodesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityCodes">
            <wsdl:input name="UpdateActivityCodesRequest" message="tns:UpdateActivityCodes"/>
            <wsdl:output name="UpdateActivityCodesResponse" message="tns:UpdateActivityCodesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityCodes">
            <wsdl:input name="DeleteActivityCodesRequest" message="tns:DeleteActivityCodes"/>
            <wsdl:output name="DeleteActivityCodesResponse" message="tns:DeleteActivityCodesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityCode">
            <wsdl:input name="getFieldLengthActivityCodeRequest" message="tns:getFieldLengthActivityCode"/>
            <wsdl:output name="getFieldLengthActivityCodeResponse" message="tns:getFieldLengthActivityCodeResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodePath">
            <wsdl:input name="ReadActivityCodePathRequest" message="tns:ReadActivityCodePath"/>
            <wsdl:output name="ReadActivityCodePathResponse" message="tns:ReadActivityCodePathResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="LoadActivities">
            <wsdl:input name="LoadActivitiesRequest" message="tns:LoadActivities"/>
            <wsdl:output name="LoadActivitiesResponse" message="tns:LoadActivitiesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ActivityCodePortBinding" type="tns:ActivityCodePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateActivityCodes">
            <soap:operation soapAction="CreateActivityCodes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodes">
            <soap:operation soapAction="ReadActivityCodes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityCodes">
            <soap:operation soapAction="UpdateActivityCodes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityCodes">
            <soap:operation soapAction="DeleteActivityCodes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityCode">
            <soap:operation soapAction="getFieldLengthActivityCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodePath">
            <soap:operation soapAction="ReadActivityCodePath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="LoadActivities">
            <soap:operation soapAction="LoadActivities" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ActivityCodeService">
        <wsdl:port name="ActivityCodePort" binding="tns:ActivityCodePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ActivityCodeService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>