dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/ProjectCodeType/V1/ProjectCodeTypeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ProjectCodeType/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ProjectCodeType/V1" name="ProjectCodeTypeService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ProjectCodeType/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateProjectCodeTypes">
                <xsd:sequence>
                    <xsd:element name="ProjectCodeType" type="tns:ProjectCodeType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateProjectCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateProjectCodeTypes" type="tns:CreateProjectCodeTypes"/>
            <xsd:element name="CreateProjectCodeTypesResponse" type="tns:CreateProjectCodeTypesResponse"/>

            <xsd:complexType name="ReadProjectCodeTypes">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ProjectCodeTypeFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadProjectCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="ProjectCodeType" type="tns:ProjectCodeType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadProjectCodeTypes" type="tns:ReadProjectCodeTypes"/>
            <xsd:element name="ReadProjectCodeTypesResponse" type="tns:ReadProjectCodeTypesResponse"/>

            <xsd:simpleType name="ProjectCodeTypeFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="IsSecureCode"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Length"/>
                    <xsd:enumeration value="MaxCodeValueWeight"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="SequenceNumber"/>
                    <xsd:enumeration value="Weight"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateProjectCodeTypes">
                <xsd:sequence>
                    <xsd:element name="ProjectCodeType" type="tns:ProjectCodeType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateProjectCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateProjectCodeTypes" type="tns:UpdateProjectCodeTypes"/>
            <xsd:element name="UpdateProjectCodeTypesResponse" type="tns:UpdateProjectCodeTypesResponse"/>

            <xsd:complexType name="DeleteProjectCodeTypes">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteProjectCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteProjectCodeTypes" type="tns:DeleteProjectCodeTypes"/>
            <xsd:element name="DeleteProjectCodeTypesResponse" type="tns:DeleteProjectCodeTypesResponse"/>

            <xsd:complexType name="getFieldLengthProjectCodeType">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthProjectCodeTypeResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthProjectCodeType" type="tns:getFieldLengthProjectCodeType"/>
            <xsd:element name="getFieldLengthProjectCodeTypeResponse" type="tns:getFieldLengthProjectCodeTypeResponse"/>

            <xsd:complexType name="ProjectCodeType">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsSecureCode" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Length" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:minInclusive value="1"/>
                                <xsd:maxInclusive value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MaxCodeValueWeight" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                                <xsd:maxInclusive value="999999.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="Weight" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                                <xsd:maxInclusive value="999999.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateProjectCodeTypes">
        <wsdl:part name="params" element="tns:CreateProjectCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="CreateProjectCodeTypesResponse">
        <wsdl:part name="result" element="tns:CreateProjectCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadProjectCodeTypes">
        <wsdl:part name="params" element="tns:ReadProjectCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="ReadProjectCodeTypesResponse">
        <wsdl:part name="result" element="tns:ReadProjectCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateProjectCodeTypes">
        <wsdl:part name="params" element="tns:UpdateProjectCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="UpdateProjectCodeTypesResponse">
        <wsdl:part name="result" element="tns:UpdateProjectCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteProjectCodeTypes">
        <wsdl:part name="params" element="tns:DeleteProjectCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="DeleteProjectCodeTypesResponse">
        <wsdl:part name="result" element="tns:DeleteProjectCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthProjectCodeType">
        <wsdl:part name="params" element="tns:getFieldLengthProjectCodeType"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthProjectCodeTypeResponse">
        <wsdl:part name="result" element="tns:getFieldLengthProjectCodeTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ProjectCodeTypePortType">
        <wsdl:operation name="CreateProjectCodeTypes">
            <wsdl:input name="CreateProjectCodeTypesRequest" message="tns:CreateProjectCodeTypes"/>
            <wsdl:output name="CreateProjectCodeTypesResponse" message="tns:CreateProjectCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadProjectCodeTypes">
            <wsdl:input name="ReadProjectCodeTypesRequest" message="tns:ReadProjectCodeTypes"/>
            <wsdl:output name="ReadProjectCodeTypesResponse" message="tns:ReadProjectCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateProjectCodeTypes">
            <wsdl:input name="UpdateProjectCodeTypesRequest" message="tns:UpdateProjectCodeTypes"/>
            <wsdl:output name="UpdateProjectCodeTypesResponse" message="tns:UpdateProjectCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteProjectCodeTypes">
            <wsdl:input name="DeleteProjectCodeTypesRequest" message="tns:DeleteProjectCodeTypes"/>
            <wsdl:output name="DeleteProjectCodeTypesResponse" message="tns:DeleteProjectCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthProjectCodeType">
            <wsdl:input name="getFieldLengthProjectCodeTypeRequest" message="tns:getFieldLengthProjectCodeType"/>
            <wsdl:output name="getFieldLengthProjectCodeTypeResponse" message="tns:getFieldLengthProjectCodeTypeResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ProjectCodeTypePortBinding" type="tns:ProjectCodeTypePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateProjectCodeTypes">
            <soap:operation soapAction="CreateProjectCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadProjectCodeTypes">
            <soap:operation soapAction="ReadProjectCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateProjectCodeTypes">
            <soap:operation soapAction="UpdateProjectCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteProjectCodeTypes">
            <soap:operation soapAction="DeleteProjectCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthProjectCodeType">
            <soap:operation soapAction="getFieldLengthProjectCodeType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ProjectCodeTypeService">
        <wsdl:port name="ProjectCodeTypePort" binding="tns:ProjectCodeTypePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ProjectCodeTypeService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>