dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/UDFValue/V1/UDFValueService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/UDFValue/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/UDFValue/V1" name="UDFValueService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/UDFValue/V1" elementFormDefault="qualified">
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateUDFValues">
                <xsd:sequence>
                    <xsd:element name="UDFValue" type="tns:UDFValue" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateUDFValuesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="UDFTypeObjectId" type="xsd:int"/>
                                <xsd:element name="ForeignObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateUDFValues" type="tns:CreateUDFValues"/>
            <xsd:element name="CreateUDFValuesResponse" type="tns:CreateUDFValuesResponse"/>

            <xsd:complexType name="ReadUDFValues">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:UDFValueFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadUDFValuesResponse">
                <xsd:sequence>
                    <xsd:element name="UDFValue" type="tns:UDFValue" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadUDFValues" type="tns:ReadUDFValues"/>
            <xsd:element name="ReadUDFValuesResponse" type="tns:ReadUDFValuesResponse"/>

            <xsd:simpleType name="UDFValueFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CodeValue"/>
                    <xsd:enumeration value="ConditionalIndicator"/>
                    <xsd:enumeration value="Cost"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="Description"/>
                    <xsd:enumeration value="Double"/>
                    <xsd:enumeration value="FinishDate"/>
                    <xsd:enumeration value="ForeignObjectId"/>
                    <xsd:enumeration value="Indicator"/>
                    <xsd:enumeration value="Integer"/>
                    <xsd:enumeration value="IsBaseline"/>
                    <xsd:enumeration value="IsTemplate"/>
                    <xsd:enumeration value="IsUDFTypeCalculated"/>
                    <xsd:enumeration value="IsUDFTypeConditional"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="StartDate"/>
                    <xsd:enumeration value="Text"/>
                    <xsd:enumeration value="UDFCodeObjectId"/>
                    <xsd:enumeration value="UDFTypeDataType"/>
                    <xsd:enumeration value="UDFTypeObjectId"/>
                    <xsd:enumeration value="UDFTypeSubjectArea"/>
                    <xsd:enumeration value="UDFTypeTitle"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateUDFValues">
                <xsd:sequence>
                    <xsd:element name="UDFValue" type="tns:UDFValue" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateUDFValuesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateUDFValues" type="tns:UpdateUDFValues"/>
            <xsd:element name="UpdateUDFValuesResponse" type="tns:UpdateUDFValuesResponse"/>

            <xsd:complexType name="DeleteUDFValues">
                <xsd:sequence>
                    <xsd:element name="ObjectId" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="UDFTypeObjectId" type="xsd:int"/>
                                <xsd:element name="ForeignObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteUDFValuesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteUDFValues" type="tns:DeleteUDFValues"/>
            <xsd:element name="DeleteUDFValuesResponse" type="tns:DeleteUDFValuesResponse"/>

            <xsd:complexType name="getFieldLengthUDFValue">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthUDFValueResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthUDFValue" type="tns:getFieldLengthUDFValue"/>
            <xsd:element name="getFieldLengthUDFValueResponse" type="tns:getFieldLengthUDFValueResponse"/>

            <xsd:complexType name="ReadCalculatedUDFValues">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:CalculatedUDFValueFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="UDFTypeObjectId" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadCalculatedUDFValuesResponse">
                <xsd:sequence>
                    <xsd:element name="CalculatedUDFValue" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ConditionalIndicator" type="xsd:int" minOccurs="0" nillable="true"/>
                                <xsd:element name="Cost" type="xsd:double" minOccurs="0" nillable="true"/>
                                <xsd:element name="Double" type="xsd:double" minOccurs="0" nillable="true"/>
                                <xsd:element name="FinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                                <xsd:element name="Integer" type="xsd:int" minOccurs="0" nillable="true"/>
                                <xsd:element name="ProjectObjectId" type="xsd:int"/>
                                <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                                <xsd:element name="CalculatedUDFTypeDataType">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="Start Date"/>
                                            <xsd:enumeration value="Finish Date"/>
                                            <xsd:enumeration value="Cost"/>
                                            <xsd:enumeration value="Double"/>
                                            <xsd:enumeration value="Integer"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="UDFTypeObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadCalculatedUDFValues" type="tns:ReadCalculatedUDFValues"/>
            <xsd:element name="ReadCalculatedUDFValuesResponse" type="tns:ReadCalculatedUDFValuesResponse"/>

            <xsd:simpleType name="CalculatedUDFValueFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ConditionalIndicator"/>
                    <xsd:enumeration value="Cost"/>
                    <xsd:enumeration value="Double"/>
                    <xsd:enumeration value="FinishDate"/>
                    <xsd:enumeration value="Integer"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="StartDate"/>
                    <xsd:enumeration value="UDFTypeDataType"/>
                    <xsd:enumeration value="UDFTypeObjectId"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UDFValue">
                <xsd:sequence>
                    <xsd:element name="CodeValue" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="60"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ConditionalIndicator" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="Cost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Description" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Double" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="-1.0E12"/>
                                <xsd:maxInclusive value="1.0E12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="FinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ForeignObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="Indicator" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="None"/>
                                <xsd:enumeration value="Red"/>
                                <xsd:enumeration value="Yellow"/>
                                <xsd:enumeration value="Green"/>
                                <xsd:enumeration value="Blue"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Integer" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsBaseline" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsUDFTypeCalculated" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsUDFTypeConditional" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Text" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UDFCodeObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="UDFTypeDataType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Text"/>
                                <xsd:enumeration value="Start Date"/>
                                <xsd:enumeration value="Finish Date"/>
                                <xsd:enumeration value="Cost"/>
                                <xsd:enumeration value="Double"/>
                                <xsd:enumeration value="Integer"/>
                                <xsd:enumeration value="Indicator"/>
                                <xsd:enumeration value="Code"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UDFTypeObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="UDFTypeSubjectArea" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Activity"/>
                                <xsd:enumeration value="Activity Expense"/>
                                <xsd:enumeration value="Activity Step"/>
                                <xsd:enumeration value="Project"/>
                                <xsd:enumeration value="Project Issue"/>
                                <xsd:enumeration value="Project Risk"/>
                                <xsd:enumeration value="Resource"/>
                                <xsd:enumeration value="Resource Assignment"/>
                                <xsd:enumeration value="WBS"/>
                                <xsd:enumeration value="Work Products and Documents"/>
                                <xsd:enumeration value="Activity Step Template Item"/>
                                <xsd:enumeration value="Lean Task"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UDFTypeTitle" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateUDFValues">
        <wsdl:part name="params" element="tns:CreateUDFValues"/>
    </wsdl:message>
    <wsdl:message name="CreateUDFValuesResponse">
        <wsdl:part name="result" element="tns:CreateUDFValuesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadUDFValues">
        <wsdl:part name="params" element="tns:ReadUDFValues"/>
    </wsdl:message>
    <wsdl:message name="ReadUDFValuesResponse">
        <wsdl:part name="result" element="tns:ReadUDFValuesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateUDFValues">
        <wsdl:part name="params" element="tns:UpdateUDFValues"/>
    </wsdl:message>
    <wsdl:message name="UpdateUDFValuesResponse">
        <wsdl:part name="result" element="tns:UpdateUDFValuesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteUDFValues">
        <wsdl:part name="params" element="tns:DeleteUDFValues"/>
    </wsdl:message>
    <wsdl:message name="DeleteUDFValuesResponse">
        <wsdl:part name="result" element="tns:DeleteUDFValuesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUDFValue">
        <wsdl:part name="params" element="tns:getFieldLengthUDFValue"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUDFValueResponse">
        <wsdl:part name="result" element="tns:getFieldLengthUDFValueResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadCalculatedUDFValues">
        <wsdl:part name="params" element="tns:ReadCalculatedUDFValues"/>
    </wsdl:message>
    <wsdl:message name="ReadCalculatedUDFValuesResponse">
        <wsdl:part name="result" element="tns:ReadCalculatedUDFValuesResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="UDFValuePortType">
        <wsdl:operation name="CreateUDFValues">
            <wsdl:input name="CreateUDFValuesRequest" message="tns:CreateUDFValues"/>
            <wsdl:output name="CreateUDFValuesResponse" message="tns:CreateUDFValuesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadUDFValues">
            <wsdl:input name="ReadUDFValuesRequest" message="tns:ReadUDFValues"/>
            <wsdl:output name="ReadUDFValuesResponse" message="tns:ReadUDFValuesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateUDFValues">
            <wsdl:input name="UpdateUDFValuesRequest" message="tns:UpdateUDFValues"/>
            <wsdl:output name="UpdateUDFValuesResponse" message="tns:UpdateUDFValuesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteUDFValues">
            <wsdl:input name="DeleteUDFValuesRequest" message="tns:DeleteUDFValues"/>
            <wsdl:output name="DeleteUDFValuesResponse" message="tns:DeleteUDFValuesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUDFValue">
            <wsdl:input name="getFieldLengthUDFValueRequest" message="tns:getFieldLengthUDFValue"/>
            <wsdl:output name="getFieldLengthUDFValueResponse" message="tns:getFieldLengthUDFValueResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadCalculatedUDFValues">
            <wsdl:input name="ReadCalculatedUDFValuesRequest" message="tns:ReadCalculatedUDFValues"/>
            <wsdl:output name="ReadCalculatedUDFValuesResponse" message="tns:ReadCalculatedUDFValuesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UDFValuePortBinding" type="tns:UDFValuePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateUDFValues">
            <soap:operation soapAction="CreateUDFValues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadUDFValues">
            <soap:operation soapAction="ReadUDFValues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateUDFValues">
            <soap:operation soapAction="UpdateUDFValues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteUDFValues">
            <soap:operation soapAction="DeleteUDFValues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUDFValue">
            <soap:operation soapAction="getFieldLengthUDFValue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadCalculatedUDFValues">
            <soap:operation soapAction="ReadCalculatedUDFValues" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UDFValueService">
        <wsdl:port name="UDFValuePort" binding="tns:UDFValuePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/UDFValueService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>