dev/middleware/soa/wsdl/ActivityExpenseService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ActivityExpense/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityExpense/V1" name="ActivityExpenseService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityExpense/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateActivityExpenses">
                <xsd:sequence>
                    <xsd:element name="ActivityExpense" type="tns:ActivityExpense" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateActivityExpensesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateActivityExpenses" type="tns:CreateActivityExpenses"/>
            <xsd:element name="CreateActivityExpensesResponse" type="tns:CreateActivityExpensesResponse"/>

            <xsd:complexType name="ReadActivityExpenses">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ActivityExpenseFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadActivityExpensesResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityExpense" type="tns:ActivityExpense" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadActivityExpenses" type="tns:ReadActivityExpenses"/>
            <xsd:element name="ReadActivityExpensesResponse" type="tns:ReadActivityExpensesResponse"/>

            <xsd:simpleType name="ActivityExpenseFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AccrualType"/>
                    <xsd:enumeration value="ActivityId"/>
                    <xsd:enumeration value="ActivityName"/>
                    <xsd:enumeration value="ActivityObjectId"/>
                    <xsd:enumeration value="ActualCost"/>
                    <xsd:enumeration value="ActualUnits"/>
                    <xsd:enumeration value="AtCompletionCost"/>
                    <xsd:enumeration value="AtCompletionUnits"/>
                    <xsd:enumeration value="AutoComputeActuals"/>
                    <xsd:enumeration value="CBSCode"/>
                    <xsd:enumeration value="CBSId"/>
                    <xsd:enumeration value="CostAccountId"/>
                    <xsd:enumeration value="CostAccountName"/>
                    <xsd:enumeration value="CostAccountObjectId"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="DocumentNumber"/>
                    <xsd:enumeration value="ExpenseCategoryName"/>
                    <xsd:enumeration value="ExpenseCategoryObjectId"/>
                    <xsd:enumeration value="ExpenseDescription"/>
                    <xsd:enumeration value="ExpenseItem"/>
                    <xsd:enumeration value="ExpensePercentComplete"/>
                    <xsd:enumeration value="IsBaseline"/>
                    <xsd:enumeration value="IsTemplate"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="OverBudget"/>
                    <xsd:enumeration value="PlannedCost"/>
                    <xsd:enumeration value="PlannedUnits"/>
                    <xsd:enumeration value="PricePerUnit"/>
                    <xsd:enumeration value="ProjectId"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="RemainingCost"/>
                    <xsd:enumeration value="RemainingUnits"/>
                    <xsd:enumeration value="UnitOfMeasure"/>
                    <xsd:enumeration value="Vendor"/>
                    <xsd:enumeration value="WBSObjectId"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateActivityExpenses">
                <xsd:sequence>
                    <xsd:element name="ActivityExpense" type="tns:ActivityExpense" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateActivityExpensesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateActivityExpenses" type="tns:UpdateActivityExpenses"/>
            <xsd:element name="UpdateActivityExpensesResponse" type="tns:UpdateActivityExpensesResponse"/>

            <xsd:complexType name="DeleteActivityExpenses">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteActivityExpensesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteActivityExpenses" type="tns:DeleteActivityExpenses"/>
            <xsd:element name="DeleteActivityExpensesResponse" type="tns:DeleteActivityExpensesResponse"/>

            <xsd:complexType name="getFieldLengthActivityExpense">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthActivityExpenseResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthActivityExpense" type="tns:getFieldLengthActivityExpense"/>
            <xsd:element name="getFieldLengthActivityExpenseResponse" type="tns:getFieldLengthActivityExpenseResponse"/>

            <xsd:complexType name="ReadAllActivityExpensesByWBS">
                <xsd:sequence>
                    <xsd:element name="WBSObjectId" type="xsd:int"/>
                    <xsd:element name="Field" type="tns:ActivityExpenseFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadAllActivityExpensesByWBSResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityExpense" type="tns:ActivityExpense" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadAllActivityExpensesByWBS" type="tns:ReadAllActivityExpensesByWBS"/>
            <xsd:element name="ReadAllActivityExpensesByWBSResponse" type="tns:ReadAllActivityExpensesByWBSResponse"/>

            <xsd:complexType name="ActivityExpense">
                <xsd:sequence>
                    <xsd:element name="AccrualType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Start of Activity"/>
                                <xsd:enumeration value="End of Activity"/>
                                <xsd:enumeration value="Uniform Over Activity"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ActualCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActualUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AtCompletionUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="AutoComputeActuals" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CBSCode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CBSId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="CostAccountId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CostAccountName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CostAccountObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DocumentNumber" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ExpenseCategoryName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="36"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ExpenseCategoryObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ExpenseDescription" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ExpenseItem" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ExpensePercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="OverBudget" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="PlannedCost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PlannedUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="PricePerUnit" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ProjectId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="RemainingCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RemainingUnits" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="UnitOfMeasure" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="30"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Vendor" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="WBSObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateActivityExpenses">
        <wsdl:part name="params" element="tns:CreateActivityExpenses"/>
    </wsdl:message>
    <wsdl:message name="CreateActivityExpensesResponse">
        <wsdl:part name="result" element="tns:CreateActivityExpensesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityExpenses">
        <wsdl:part name="params" element="tns:ReadActivityExpenses"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityExpensesResponse">
        <wsdl:part name="result" element="tns:ReadActivityExpensesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityExpenses">
        <wsdl:part name="params" element="tns:UpdateActivityExpenses"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityExpensesResponse">
        <wsdl:part name="result" element="tns:UpdateActivityExpensesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityExpenses">
        <wsdl:part name="params" element="tns:DeleteActivityExpenses"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityExpensesResponse">
        <wsdl:part name="result" element="tns:DeleteActivityExpensesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityExpense">
        <wsdl:part name="params" element="tns:getFieldLengthActivityExpense"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityExpenseResponse">
        <wsdl:part name="result" element="tns:getFieldLengthActivityExpenseResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadAllActivityExpensesByWBS">
        <wsdl:part name="params" element="tns:ReadAllActivityExpensesByWBS"/>
    </wsdl:message>
    <wsdl:message name="ReadAllActivityExpensesByWBSResponse">
        <wsdl:part name="result" element="tns:ReadAllActivityExpensesByWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ActivityExpensePortType">
        <wsdl:operation name="CreateActivityExpenses">
            <wsdl:input name="CreateActivityExpensesRequest" message="tns:CreateActivityExpenses"/>
            <wsdl:output name="CreateActivityExpensesResponse" message="tns:CreateActivityExpensesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityExpenses">
            <wsdl:input name="ReadActivityExpensesRequest" message="tns:ReadActivityExpenses"/>
            <wsdl:output name="ReadActivityExpensesResponse" message="tns:ReadActivityExpensesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityExpenses">
            <wsdl:input name="UpdateActivityExpensesRequest" message="tns:UpdateActivityExpenses"/>
            <wsdl:output name="UpdateActivityExpensesResponse" message="tns:UpdateActivityExpensesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityExpenses">
            <wsdl:input name="DeleteActivityExpensesRequest" message="tns:DeleteActivityExpenses"/>
            <wsdl:output name="DeleteActivityExpensesResponse" message="tns:DeleteActivityExpensesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityExpense">
            <wsdl:input name="getFieldLengthActivityExpenseRequest" message="tns:getFieldLengthActivityExpense"/>
            <wsdl:output name="getFieldLengthActivityExpenseResponse" message="tns:getFieldLengthActivityExpenseResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadAllActivityExpensesByWBS">
            <wsdl:input name="ReadAllActivityExpensesByWBSRequest" message="tns:ReadAllActivityExpensesByWBS"/>
            <wsdl:output name="ReadAllActivityExpensesByWBSResponse" message="tns:ReadAllActivityExpensesByWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ActivityExpensePortBinding" type="tns:ActivityExpensePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateActivityExpenses">
            <soap:operation soapAction="CreateActivityExpenses" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityExpenses">
            <soap:operation soapAction="ReadActivityExpenses" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityExpenses">
            <soap:operation soapAction="UpdateActivityExpenses" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityExpenses">
            <soap:operation soapAction="DeleteActivityExpenses" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityExpense">
            <soap:operation soapAction="getFieldLengthActivityExpense" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadAllActivityExpensesByWBS">
            <soap:operation soapAction="ReadAllActivityExpensesByWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ActivityExpenseService">
        <wsdl:port name="ActivityExpensePort" binding="tns:ActivityExpensePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ActivityExpenseService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>