dev/middleware/soa/wsdl/ActivityCodeAssignmentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCodeAssignment/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCodeAssignment/V1" name="ActivityCodeAssignmentService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCodeAssignment/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateActivityCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="ActivityCodeAssignment" type="tns:ActivityCodeAssignment" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateActivityCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ActivityObjectId" type="xsd:int"/>
                                <xsd:element name="ActivityCodeTypeObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateActivityCodeAssignments" type="tns:CreateActivityCodeAssignments"/>
            <xsd:element name="CreateActivityCodeAssignmentsResponse" type="tns:CreateActivityCodeAssignmentsResponse"/>

            <xsd:complexType name="ReadActivityCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ActivityCodeAssignmentFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadActivityCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityCodeAssignment" type="tns:ActivityCodeAssignment" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadActivityCodeAssignments" type="tns:ReadActivityCodeAssignments"/>
            <xsd:element name="ReadActivityCodeAssignmentsResponse" type="tns:ReadActivityCodeAssignmentsResponse"/>

            <xsd:simpleType name="ActivityCodeAssignmentFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ActivityCodeDescription"/>
                    <xsd:enumeration value="ActivityCodeObjectId"/>
                    <xsd:enumeration value="ActivityCodeTypeName"/>
                    <xsd:enumeration value="ActivityCodeTypeObjectId"/>
                    <xsd:enumeration value="ActivityCodeTypeScope"/>
                    <xsd:enumeration value="ActivityCodeValue"/>
                    <xsd:enumeration value="ActivityId"/>
                    <xsd:enumeration value="ActivityName"/>
                    <xsd:enumeration value="ActivityObjectId"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="IsBaseline"/>
                    <xsd:enumeration value="IsTemplate"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="ProjectId"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="WBSObjectId"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateActivityCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="ActivityCodeAssignment" type="tns:ActivityCodeAssignment" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateActivityCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateActivityCodeAssignments" type="tns:UpdateActivityCodeAssignments"/>
            <xsd:element name="UpdateActivityCodeAssignmentsResponse" type="tns:UpdateActivityCodeAssignmentsResponse"/>

            <xsd:complexType name="DeleteActivityCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="ObjectId" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ActivityObjectId" type="xsd:int"/>
                                <xsd:element name="ActivityCodeTypeObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteActivityCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteActivityCodeAssignments" type="tns:DeleteActivityCodeAssignments"/>
            <xsd:element name="DeleteActivityCodeAssignmentsResponse" type="tns:DeleteActivityCodeAssignmentsResponse"/>

            <xsd:complexType name="getFieldLengthActivityCodeAssignment">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthActivityCodeAssignmentResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthActivityCodeAssignment" type="tns:getFieldLengthActivityCodeAssignment"/>
            <xsd:element name="getFieldLengthActivityCodeAssignmentResponse" type="tns:getFieldLengthActivityCodeAssignmentResponse"/>

            <xsd:complexType name="ActivityCodeAssignment">
                <xsd:sequence>
                    <xsd:element name="ActivityCodeDescription" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityCodeObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ActivityCodeTypeName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityCodeTypeObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ActivityCodeTypeScope" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Global"/>
                                <xsd:enumeration value="EPS"/>
                                <xsd:enumeration value="Project"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityCodeValue" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="60"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="WBSObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateActivityCodeAssignments">
        <wsdl:part name="params" element="tns:CreateActivityCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="CreateActivityCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:CreateActivityCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodeAssignments">
        <wsdl:part name="params" element="tns:ReadActivityCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:ReadActivityCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityCodeAssignments">
        <wsdl:part name="params" element="tns:UpdateActivityCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:UpdateActivityCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityCodeAssignments">
        <wsdl:part name="params" element="tns:DeleteActivityCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:DeleteActivityCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityCodeAssignment">
        <wsdl:part name="params" element="tns:getFieldLengthActivityCodeAssignment"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityCodeAssignmentResponse">
        <wsdl:part name="result" element="tns:getFieldLengthActivityCodeAssignmentResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ActivityCodeAssignmentPortType">
        <wsdl:operation name="CreateActivityCodeAssignments">
            <wsdl:input name="CreateActivityCodeAssignmentsRequest" message="tns:CreateActivityCodeAssignments"/>
            <wsdl:output name="CreateActivityCodeAssignmentsResponse" message="tns:CreateActivityCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodeAssignments">
            <wsdl:input name="ReadActivityCodeAssignmentsRequest" message="tns:ReadActivityCodeAssignments"/>
            <wsdl:output name="ReadActivityCodeAssignmentsResponse" message="tns:ReadActivityCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityCodeAssignments">
            <wsdl:input name="UpdateActivityCodeAssignmentsRequest" message="tns:UpdateActivityCodeAssignments"/>
            <wsdl:output name="UpdateActivityCodeAssignmentsResponse" message="tns:UpdateActivityCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityCodeAssignments">
            <wsdl:input name="DeleteActivityCodeAssignmentsRequest" message="tns:DeleteActivityCodeAssignments"/>
            <wsdl:output name="DeleteActivityCodeAssignmentsResponse" message="tns:DeleteActivityCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityCodeAssignment">
            <wsdl:input name="getFieldLengthActivityCodeAssignmentRequest" message="tns:getFieldLengthActivityCodeAssignment"/>
            <wsdl:output name="getFieldLengthActivityCodeAssignmentResponse" message="tns:getFieldLengthActivityCodeAssignmentResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ActivityCodeAssignmentPortBinding" type="tns:ActivityCodeAssignmentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateActivityCodeAssignments">
            <soap:operation soapAction="CreateActivityCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodeAssignments">
            <soap:operation soapAction="ReadActivityCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityCodeAssignments">
            <soap:operation soapAction="UpdateActivityCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityCodeAssignments">
            <soap:operation soapAction="DeleteActivityCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityCodeAssignment">
            <soap:operation soapAction="getFieldLengthActivityCodeAssignment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ActivityCodeAssignmentService">
        <wsdl:port name="ActivityCodeAssignmentPort" binding="tns:ActivityCodeAssignmentPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ActivityCodeAssignmentService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>