dev/middleware/soa/wsdl/BaselineProjectService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/BaselineProject/V2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/BaselineProject/V2" name="BaselineProjectService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/BaselineProject/V2" elementFormDefault="qualified">
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateBaselineProjects">
                <xsd:sequence>
                    <xsd:element name="BaselineProject" type="tns:BaselineProject" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateBaselineProjectsResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateBaselineProjects" type="tns:CreateBaselineProjects"/>
            <xsd:element name="CreateBaselineProjectsResponse" type="tns:CreateBaselineProjectsResponse"/>

            <xsd:complexType name="ReadBaselineProjects">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:BaselineProjectFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadBaselineProjectsResponse">
                <xsd:sequence>
                    <xsd:element name="BaselineProject" type="tns:BaselineProject" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadBaselineProjects" type="tns:ReadBaselineProjects"/>
            <xsd:element name="ReadBaselineProjectsResponse" type="tns:ReadBaselineProjectsResponse"/>

            <xsd:simpleType name="BaselineProjectFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ActivityDefaultActivityType"/>
                    <xsd:enumeration value="ActivityDefaultCalendarObjectId"/>
                    <xsd:enumeration value="ActivityDefaultCostAccountObjectId"/>
                    <xsd:enumeration value="ActivityDefaultDurationType"/>
                    <xsd:enumeration value="ActivityDefaultPercentCompleteType"/>
                    <xsd:enumeration value="ActivityDefaultPricePerUnit"/>
                    <xsd:enumeration value="ActivityDefaultReviewRequired"/>
                    <xsd:enumeration value="ActivityIdBasedOnSelectedActivity"/>
                    <xsd:enumeration value="ActivityIdIncrement"/>
                    <xsd:enumeration value="ActivityIdPrefix"/>
                    <xsd:enumeration value="ActivityIdSuffix"/>
                    <xsd:enumeration value="ActivityPercentCompleteBasedOnActivitySteps"/>
                    <xsd:enumeration value="AddActualToRemaining"/>
                    <xsd:enumeration value="AddedBy"/>
                    <xsd:enumeration value="AllowStatusReview"/>
                    <xsd:enumeration value="AnnualDiscountRate"/>
                    <xsd:enumeration value="AnticipatedFinishDate"/>
                    <xsd:enumeration value="AnticipatedStartDate"/>
                    <xsd:enumeration value="AssignmentDefaultDrivingFlag"/>
                    <xsd:enumeration value="AssignmentDefaultRateType"/>
                    <xsd:enumeration value="BaselineTypeName"/>
                    <xsd:enumeration value="BaselineTypeObjectId"/>
                    <xsd:enumeration value="CheckOutDate"/>
                    <xsd:enumeration value="CheckOutStatus"/>
                    <xsd:enumeration value="CheckOutUserObjectId"/>
                    <xsd:enumeration value="ContainsSummaryData"/>
                    <xsd:enumeration value="CostQuantityRecalculateFlag"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="CriticalActivityFloatLimit"/>
                    <xsd:enumeration value="CriticalActivityPathType"/>
                    <xsd:enumeration value="CurrentBudget"/>
                    <xsd:enumeration value="CurrentVariance"/>
                    <xsd:enumeration value="DataDate"/>
                    <xsd:enumeration value="DateAdded"/>
                    <xsd:enumeration value="DefaultPriceTimeUnits"/>
                    <xsd:enumeration value="Description"/>
                    <xsd:enumeration value="DiscountApplicationPeriod"/>
                    <xsd:enumeration value="DistributedCurrentBudget"/>
                    <xsd:enumeration value="EnablePublication"/>
                    <xsd:enumeration value="EnableSummarization"/>
                    <xsd:enumeration value="FinishDate"/>
                    <xsd:enumeration value="FiscalYearStartMonth"/>
                    <xsd:enumeration value="ForecastFinishDate"/>
                    <xsd:enumeration value="ForecastStartDate"/>
                    <xsd:enumeration value="GUID"/>
                    <xsd:enumeration value="HasFutureBucketData"/>
                    <xsd:enumeration value="HistoryInterval"/>
                    <xsd:enumeration value="HistoryLevel"/>
                    <xsd:enumeration value="Id"/>
                    <xsd:enumeration value="IndependentETCLaborUnits"/>
                    <xsd:enumeration value="IndependentETCTotalCost"/>
                    <xsd:enumeration value="LastBaselineUpdateDate"/>
                    <xsd:enumeration value="LastFinancialPeriodObjectId"/>
                    <xsd:enumeration value="LastLevelDate"/>
                    <xsd:enumeration value="LastPublishedOn"/>
                    <xsd:enumeration value="LastScheduleDate"/>
                    <xsd:enumeration value="LastSummarizedDate"/>
                    <xsd:enumeration value="LastUpdateBaselineOptions"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="LevelingPriority"/>
                    <xsd:enumeration value="LinkActualToActualThisPeriod"/>
                    <xsd:enumeration value="LinkPercentCompleteWithActual"/>
                    <xsd:enumeration value="LinkPlannedAndAtCompletionFlag"/>
                    <xsd:enumeration value="LocationName"/>
                    <xsd:enumeration value="LocationObjectId"/>
                    <xsd:enumeration value="MustFinishByDate"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="OBSName"/>
                    <xsd:enumeration value="OBSObjectId"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="OriginalBudget"/>
                    <xsd:enumeration value="OriginalProjectObjectId"/>
                    <xsd:enumeration value="OwnerResourceObjectId"/>
                    <xsd:enumeration value="ParentEPSObjectId"/>
                    <xsd:enumeration value="PlannedStartDate"/>
                    <xsd:enumeration value="PrimaryResourcesCanMarkActivitiesAsCompleted"/>
                    <xsd:enumeration value="ProjectForecastStartDate"/>
                    <xsd:enumeration value="ProjectScheduleType"/>
                    <xsd:enumeration value="ProposedBudget"/>
                    <xsd:enumeration value="PublicationPriority"/>
                    <xsd:enumeration value="ResetPlannedToRemainingFlag"/>
                    <xsd:enumeration value="ResourceCanBeAssignedToSameActivityMoreThanOnce"/>
                    <xsd:enumeration value="ResourcesCanAssignThemselvesToActivities"/>
                    <xsd:enumeration value="ResourcesCanAssignThemselvesToActivitiesOutsideOBSAccess"/>
                    <xsd:enumeration value="ResourcesCanEditAssignmentPercentComplete"/>
                    <xsd:enumeration value="RiskExposure"/>
                    <xsd:enumeration value="RiskLevel"/>
                    <xsd:enumeration value="RiskMatrixObjectId"/>
                    <xsd:enumeration value="RiskScore"/>
                    <xsd:enumeration value="ScheduledFinishDate"/>
                    <xsd:enumeration value="StartDate"/>
                    <xsd:enumeration value="Status"/>
                    <xsd:enumeration value="StatusReviewerName"/>
                    <xsd:enumeration value="StatusReviewerObjectId"/>
                    <xsd:enumeration value="StrategicPriority"/>
                    <xsd:enumeration value="SummarizeToWBSLevel"/>
                    <xsd:enumeration value="SummarizedDataDate"/>
                    <xsd:enumeration value="SummaryAccountingVarianceByCost"/>
                    <xsd:enumeration value="SummaryAccountingVarianceByLaborUnits"/>
                    <xsd:enumeration value="SummaryActivityCount"/>
                    <xsd:enumeration value="SummaryActualDuration"/>
                    <xsd:enumeration value="SummaryActualExpenseCost"/>
                    <xsd:enumeration value="SummaryActualFinishDate"/>
                    <xsd:enumeration value="SummaryActualLaborCost"/>
                    <xsd:enumeration value="SummaryActualLaborUnits"/>
                    <xsd:enumeration value="SummaryActualMaterialCost"/>
                    <xsd:enumeration value="SummaryActualNonLaborCost"/>
                    <xsd:enumeration value="SummaryActualNonLaborUnits"/>
                    <xsd:enumeration value="SummaryActualStartDate"/>
                    <xsd:enumeration value="SummaryActualThisPeriodCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodLaborCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodLaborUnits"/>
                    <xsd:enumeration value="SummaryActualThisPeriodMaterialCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodNonLaborCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodNonLaborUnits"/>
                    <xsd:enumeration value="SummaryActualTotalCost"/>
                    <xsd:enumeration value="SummaryActualValueByCost"/>
                    <xsd:enumeration value="SummaryActualValueByLaborUnits"/>
                    <xsd:enumeration value="SummaryAtCompletionDuration"/>
                    <xsd:enumeration value="SummaryAtCompletionExpenseCost"/>
                    <xsd:enumeration value="SummaryAtCompletionLaborCost"/>
                    <xsd:enumeration value="SummaryAtCompletionLaborUnits"/>
                    <xsd:enumeration value="SummaryAtCompletionMaterialCost"/>
                    <xsd:enumeration value="SummaryAtCompletionNonLaborCost"/>
                    <xsd:enumeration value="SummaryAtCompletionNonLaborUnits"/>
                    <xsd:enumeration value="SummaryAtCompletionTotalCost"/>
                    <xsd:enumeration value="SummaryAtCompletionTotalCostVariance"/>
                    <xsd:enumeration value="SummaryBaselineCompletedActivityCount"/>
                    <xsd:enumeration value="SummaryBaselineDuration"/>
                    <xsd:enumeration value="SummaryBaselineExpenseCost"/>
                    <xsd:enumeration value="SummaryBaselineFinishDate"/>
                    <xsd:enumeration value="SummaryBaselineInProgressActivityCount"/>
                    <xsd:enumeration value="SummaryBaselineLaborCost"/>
                    <xsd:enumeration value="SummaryBaselineLaborUnits"/>
                    <xsd:enumeration value="SummaryBaselineMaterialCost"/>
                    <xsd:enumeration value="SummaryBaselineNonLaborCost"/>
                    <xsd:enumeration value="SummaryBaselineNonLaborUnits"/>
                    <xsd:enumeration value="SummaryBaselineNotStartedActivityCount"/>
                    <xsd:enumeration value="SummaryBaselineStartDate"/>
                    <xsd:enumeration value="SummaryBaselineTotalCost"/>
                    <xsd:enumeration value="SummaryBudgetAtCompletionByCost"/>
                    <xsd:enumeration value="SummaryBudgetAtCompletionByLaborUnits"/>
                    <xsd:enumeration value="SummaryCompletedActivityCount"/>
                    <xsd:enumeration value="SummaryCostPercentComplete"/>
                    <xsd:enumeration value="SummaryCostPercentOfPlanned"/>
                    <xsd:enumeration value="SummaryCostPerformanceIndexByCost"/>
                    <xsd:enumeration value="SummaryCostPerformanceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryCostVarianceByCost"/>
                    <xsd:enumeration value="SummaryCostVarianceByLaborUnits"/>
                    <xsd:enumeration value="SummaryCostVarianceIndex"/>
                    <xsd:enumeration value="SummaryCostVarianceIndexByCost"/>
                    <xsd:enumeration value="SummaryCostVarianceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryDurationPercentComplete"/>
                    <xsd:enumeration value="SummaryDurationPercentOfPlanned"/>
                    <xsd:enumeration value="SummaryDurationVariance"/>
                    <xsd:enumeration value="SummaryEarnedValueByCost"/>
                    <xsd:enumeration value="SummaryEarnedValueByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionByCost"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionHighPercentByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionLowPercentByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateToCompleteByCost"/>
                    <xsd:enumeration value="SummaryEstimateToCompleteByLaborUnits"/>
                    <xsd:enumeration value="SummaryExpenseCostPercentComplete"/>
                    <xsd:enumeration value="SummaryExpenseCostVariance"/>
                    <xsd:enumeration value="SummaryFinishDateVariance"/>
                    <xsd:enumeration value="SummaryInProgressActivityCount"/>
                    <xsd:enumeration value="SummaryLaborCostPercentComplete"/>
                    <xsd:enumeration value="SummaryLaborCostVariance"/>
                    <xsd:enumeration value="SummaryLaborUnitsPercentComplete"/>
                    <xsd:enumeration value="SummaryLaborUnitsVariance"/>
                    <xsd:enumeration value="SummaryMaterialCostPercentComplete"/>
                    <xsd:enumeration value="SummaryMaterialCostVariance"/>
                    <xsd:enumeration value="SummaryNonLaborCostPercentComplete"/>
                    <xsd:enumeration value="SummaryNonLaborCostVariance"/>
                    <xsd:enumeration value="SummaryNonLaborUnitsPercentComplete"/>
                    <xsd:enumeration value="SummaryNonLaborUnitsVariance"/>
                    <xsd:enumeration value="SummaryNotStartedActivityCount"/>
                    <xsd:enumeration value="SummaryPerformancePercentCompleteByLaborUnits"/>
                    <xsd:enumeration value="SummaryPlannedCost"/>
                    <xsd:enumeration value="SummaryPlannedDuration"/>
                    <xsd:enumeration value="SummaryPlannedExpenseCost"/>
                    <xsd:enumeration value="SummaryPlannedFinishDate"/>
                    <xsd:enumeration value="SummaryPlannedLaborCost"/>
                    <xsd:enumeration value="SummaryPlannedLaborUnits"/>
                    <xsd:enumeration value="SummaryPlannedMaterialCost"/>
                    <xsd:enumeration value="SummaryPlannedNonLaborCost"/>
                    <xsd:enumeration value="SummaryPlannedNonLaborUnits"/>
                    <xsd:enumeration value="SummaryPlannedStartDate"/>
                    <xsd:enumeration value="SummaryPlannedValueByCost"/>
                    <xsd:enumeration value="SummaryPlannedValueByLaborUnits"/>
                    <xsd:enumeration value="SummaryProgressFinishDate"/>
                    <xsd:enumeration value="SummaryRemainingDuration"/>
                    <xsd:enumeration value="SummaryRemainingExpenseCost"/>
                    <xsd:enumeration value="SummaryRemainingFinishDate"/>
                    <xsd:enumeration value="SummaryRemainingLaborCost"/>
                    <xsd:enumeration value="SummaryRemainingLaborUnits"/>
                    <xsd:enumeration value="SummaryRemainingMaterialCost"/>
                    <xsd:enumeration value="SummaryRemainingNonLaborCost"/>
                    <xsd:enumeration value="SummaryRemainingNonLaborUnits"/>
                    <xsd:enumeration value="SummaryRemainingStartDate"/>
                    <xsd:enumeration value="SummaryRemainingTotalCost"/>
                    <xsd:enumeration value="SummarySchedulePercentComplete"/>
                    <xsd:enumeration value="SummarySchedulePercentCompleteByLaborUnits"/>
                    <xsd:enumeration value="SummarySchedulePerformanceIndexByCost"/>
                    <xsd:enumeration value="SummarySchedulePerformanceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryScheduleVarianceByCost"/>
                    <xsd:enumeration value="SummaryScheduleVarianceByLaborUnits"/>
                    <xsd:enumeration value="SummaryScheduleVarianceIndex"/>
                    <xsd:enumeration value="SummaryScheduleVarianceIndexByCost"/>
                    <xsd:enumeration value="SummaryScheduleVarianceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryStartDateVariance"/>
                    <xsd:enumeration value="SummaryToCompletePerformanceIndexByCost"/>
                    <xsd:enumeration value="SummaryTotalCostVariance"/>
                    <xsd:enumeration value="SummaryTotalFloat"/>
                    <xsd:enumeration value="SummaryUnitsPercentComplete"/>
                    <xsd:enumeration value="SummaryVarianceAtCompletionByLaborUnits"/>
                    <xsd:enumeration value="TeamMemberActivityFields"/>
                    <xsd:enumeration value="TeamMemberAssignmentOption"/>
                    <xsd:enumeration value="TeamMemberResourceAssignmentFields"/>
                    <xsd:enumeration value="TeamMemberViewableFields"/>
                    <xsd:enumeration value="TotalBenefitPlan"/>
                    <xsd:enumeration value="TotalBenefitPlanTally"/>
                    <xsd:enumeration value="TotalSpendingPlan"/>
                    <xsd:enumeration value="TotalSpendingPlanTally"/>
                    <xsd:enumeration value="UnallocatedBudget"/>
                    <xsd:enumeration value="UndistributedCurrentVariance"/>
                    <xsd:enumeration value="WBSCodeSeparator"/>
                    <xsd:enumeration value="WBSObjectId"/>
                    <xsd:enumeration value="WebSiteRootDirectory"/>
                    <xsd:enumeration value="WebSiteURL"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateBaselineProjects">
                <xsd:sequence>
                    <xsd:element name="BaselineProject" type="tns:BaselineProject" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateBaselineProjectsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateBaselineProjects" type="tns:UpdateBaselineProjects"/>
            <xsd:element name="UpdateBaselineProjectsResponse" type="tns:UpdateBaselineProjectsResponse"/>

            <xsd:complexType name="DeleteBaselineProjects">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteBaselineProjectsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteBaselineProjects" type="tns:DeleteBaselineProjects"/>
            <xsd:element name="DeleteBaselineProjectsResponse" type="tns:DeleteBaselineProjectsResponse"/>

            <xsd:complexType name="getFieldLengthBaselineProject">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthBaselineProject" type="tns:getFieldLengthBaselineProject"/>
            <xsd:element name="getFieldLengthBaselineProjectResponse" type="tns:getFieldLengthBaselineProjectResponse"/>

            <xsd:complexType name="RestoreBaselineProject">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RestoreBaselineProjectResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="RestoreBaselineProject" type="tns:RestoreBaselineProject"/>
            <xsd:element name="RestoreBaselineProjectResponse" type="tns:RestoreBaselineProjectResponse"/>

            <xsd:complexType name="LinkBaselineActivity">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                    <xsd:element name="ParmProjectActivityObjectId" type="xsd:int"/>
                    <xsd:element name="ParmBaselineProjectActivityObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LinkBaselineActivityResponse">
                <xsd:sequence>
                    <xsd:element name="Success" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="LinkBaselineActivity" type="tns:LinkBaselineActivity"/>
            <xsd:element name="LinkBaselineActivityResponse" type="tns:LinkBaselineActivityResponse"/>

            <xsd:complexType name="BaselineProject">
                <xsd:sequence>
                    <xsd:element name="ActivityDefaultActivityType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Task Dependent"/>
                                <xsd:enumeration value="Resource Dependent"/>
                                <xsd:enumeration value="Level of Effort"/>
                                <xsd:enumeration value="Start Milestone"/>
                                <xsd:enumeration value="Finish Milestone"/>
                                <xsd:enumeration value="WBS Summary"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityDefaultCalendarObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActivityDefaultCostAccountObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActivityDefaultDurationType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Fixed Units/Time"/>
                                <xsd:enumeration value="Fixed Duration and Units/Time"/>
                                <xsd:enumeration value="Fixed Units"/>
                                <xsd:enumeration value="Fixed Duration and Units"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityDefaultPercentCompleteType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Physical"/>
                                <xsd:enumeration value="Duration"/>
                                <xsd:enumeration value="Units"/>
                                <xsd:enumeration value="Scope"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityDefaultPricePerUnit" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityDefaultReviewRequired" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ActivityIdBasedOnSelectedActivity" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ActivityIdIncrement" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActivityIdPrefix" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ActivityIdSuffix" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ActivityPercentCompleteBasedOnActivitySteps" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="AddActualToRemaining" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="AddedBy" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AllowStatusReview" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="AnnualDiscountRate" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                                <xsd:maxInclusive value="100.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="AnticipatedFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="AnticipatedStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="AssignmentDefaultDrivingFlag" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="AssignmentDefaultRateType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Price / Unit"/>
                                <xsd:enumeration value="Price / Unit 2"/>
                                <xsd:enumeration value="Price / Unit 3"/>
                                <xsd:enumeration value="Price / Unit 4"/>
                                <xsd:enumeration value="Price / Unit 5"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BaselineTypeName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BaselineTypeObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="CheckOutDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CheckOutStatus" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CheckOutUserObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ContainsSummaryData" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CostQuantityRecalculateFlag" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CriticalActivityFloatLimit" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CriticalActivityPathType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Critical Float"/>
                                <xsd:enumeration value="Longest Path"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CurrentBudget" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CurrentVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="DataDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="DateAdded" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="DefaultPriceTimeUnits" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Hour"/>
                                <xsd:enumeration value="Day"/>
                                <xsd:enumeration value="Week"/>
                                <xsd:enumeration value="Month"/>
                                <xsd:enumeration value="Year"/>
                                <xsd:enumeration value="Days Hours"/>
                                <xsd:enumeration value="Hours Minutes"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Description" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="500"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DiscountApplicationPeriod" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Month"/>
                                <xsd:enumeration value="Quarter"/>
                                <xsd:enumeration value="Year"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DistributedCurrentBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EnablePublication" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="EnableSummarization" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="FinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="FiscalYearStartMonth" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ForecastFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ForecastStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="GUID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}|"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HasFutureBucketData" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="HistoryInterval" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Month"/>
                                <xsd:enumeration value="Week"/>
                                <xsd:enumeration value="Quarter"/>
                                <xsd:enumeration value="Year"/>
                                <xsd:enumeration value="Financial Period"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HistoryLevel" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="None"/>
                                <xsd:enumeration value="Project"/>
                                <xsd:enumeration value="WBS"/>
                                <xsd:enumeration value="Activity_Daily"/>
                                <xsd:enumeration value="Activity_Weekly"/>
                                <xsd:enumeration value="Activity_Monthly"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Id" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IndependentETCLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="IndependentETCTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastBaselineUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastFinancialPeriodObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastLevelDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastPublishedOn" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastScheduleDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastSummarizedDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateBaselineOptions" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LevelingPriority" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:minInclusive value="1"/>
                                <xsd:maxInclusive value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LinkActualToActualThisPeriod" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LinkPercentCompleteWithActual" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LinkPlannedAndAtCompletionFlag" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LocationName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LocationObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="MustFinishByDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OBSName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OBSObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="OriginalBudget" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OriginalProjectObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="OwnerResourceObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ParentEPSObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="PlannedStartDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="PrimaryResourcesCanMarkActivitiesAsCompleted" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ProjectForecastStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ProjectScheduleType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Duration"/>
                                <xsd:enumeration value="Resource"/>
                                <xsd:enumeration value="Cost"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProposedBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="PublicationPriority" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ResetPlannedToRemainingFlag" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ResourceCanBeAssignedToSameActivityMoreThanOnce" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ResourcesCanAssignThemselvesToActivities" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ResourcesCanAssignThemselvesToActivitiesOutsideOBSAccess" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="ResourcesCanEditAssignmentPercentComplete" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="RiskExposure" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RiskLevel" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Very High"/>
                                <xsd:enumeration value="High"/>
                                <xsd:enumeration value="Medium"/>
                                <xsd:enumeration value="Low"/>
                                <xsd:enumeration value="Very Low"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="RiskMatrixObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="RiskScore" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ScheduledFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Status" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Planned"/>
                                <xsd:enumeration value="Active"/>
                                <xsd:enumeration value="Inactive"/>
                                <xsd:enumeration value="What-If"/>
                                <xsd:enumeration value="Requested"/>
                                <xsd:enumeration value="Template"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StatusReviewerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StatusReviewerObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="StrategicPriority" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:minInclusive value="1"/>
                                <xsd:maxInclusive value="10000"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SummarizeToWBSLevel" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarizedDataDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAccountingVarianceByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAccountingVarianceByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualValueByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualValueByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionTotalCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineCompletedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineInProgressActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineNotStartedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBudgetAtCompletionByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBudgetAtCompletionByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCompletedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPercentOfPlanned" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPerformanceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPerformanceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryDurationPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryDurationPercentOfPlanned" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryDurationVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEarnedValueByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEarnedValueByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionHighPercentByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionLowPercentByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateToCompleteByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateToCompleteByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryExpenseCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryExpenseCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryFinishDateVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryInProgressActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborUnitsVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryMaterialCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryMaterialCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborUnitsVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNotStartedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPerformancePercentCompleteByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedValueByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedValueByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryProgressFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePercentCompleteByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePerformanceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePerformanceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryStartDateVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryToCompletePerformanceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryTotalCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryTotalFloat" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryVarianceAtCompletionByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TeamMemberActivityFields" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="512"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TeamMemberAssignmentOption" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TeamMemberResourceAssignmentFields" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="512"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TeamMemberViewableFields" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="512"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TotalBenefitPlan" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalBenefitPlanTally" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalSpendingPlan" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalSpendingPlanTally" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="UnallocatedBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="UndistributedCurrentVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="WBSCodeSeparator" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="WBSObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="WebSiteRootDirectory" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="120"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="WebSiteURL" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="200"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateBaselineProjects">
        <wsdl:part name="params" element="tns:CreateBaselineProjects"/>
    </wsdl:message>
    <wsdl:message name="CreateBaselineProjectsResponse">
        <wsdl:part name="result" element="tns:CreateBaselineProjectsResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadBaselineProjects">
        <wsdl:part name="params" element="tns:ReadBaselineProjects"/>
    </wsdl:message>
    <wsdl:message name="ReadBaselineProjectsResponse">
        <wsdl:part name="result" element="tns:ReadBaselineProjectsResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateBaselineProjects">
        <wsdl:part name="params" element="tns:UpdateBaselineProjects"/>
    </wsdl:message>
    <wsdl:message name="UpdateBaselineProjectsResponse">
        <wsdl:part name="result" element="tns:UpdateBaselineProjectsResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteBaselineProjects">
        <wsdl:part name="params" element="tns:DeleteBaselineProjects"/>
    </wsdl:message>
    <wsdl:message name="DeleteBaselineProjectsResponse">
        <wsdl:part name="result" element="tns:DeleteBaselineProjectsResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthBaselineProject">
        <wsdl:part name="params" element="tns:getFieldLengthBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthBaselineProjectResponse">
        <wsdl:part name="result" element="tns:getFieldLengthBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="RestoreBaselineProject">
        <wsdl:part name="params" element="tns:RestoreBaselineProject"/>
    </wsdl:message>
    <wsdl:message name="RestoreBaselineProjectResponse">
        <wsdl:part name="result" element="tns:RestoreBaselineProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="LinkBaselineActivity">
        <wsdl:part name="params" element="tns:LinkBaselineActivity"/>
    </wsdl:message>
    <wsdl:message name="LinkBaselineActivityResponse">
        <wsdl:part name="result" element="tns:LinkBaselineActivityResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="BaselineProjectPortType">
        <wsdl:operation name="CreateBaselineProjects">
            <wsdl:input name="CreateBaselineProjectsRequest" message="tns:CreateBaselineProjects"/>
            <wsdl:output name="CreateBaselineProjectsResponse" message="tns:CreateBaselineProjectsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadBaselineProjects">
            <wsdl:input name="ReadBaselineProjectsRequest" message="tns:ReadBaselineProjects"/>
            <wsdl:output name="ReadBaselineProjectsResponse" message="tns:ReadBaselineProjectsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateBaselineProjects">
            <wsdl:input name="UpdateBaselineProjectsRequest" message="tns:UpdateBaselineProjects"/>
            <wsdl:output name="UpdateBaselineProjectsResponse" message="tns:UpdateBaselineProjectsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteBaselineProjects">
            <wsdl:input name="DeleteBaselineProjectsRequest" message="tns:DeleteBaselineProjects"/>
            <wsdl:output name="DeleteBaselineProjectsResponse" message="tns:DeleteBaselineProjectsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthBaselineProject">
            <wsdl:input name="getFieldLengthBaselineProjectRequest" message="tns:getFieldLengthBaselineProject"/>
            <wsdl:output name="getFieldLengthBaselineProjectResponse" message="tns:getFieldLengthBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="RestoreBaselineProject">
            <wsdl:input name="RestoreBaselineProjectRequest" message="tns:RestoreBaselineProject"/>
            <wsdl:output name="RestoreBaselineProjectResponse" message="tns:RestoreBaselineProjectResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="LinkBaselineActivity">
            <wsdl:input name="LinkBaselineActivityRequest" message="tns:LinkBaselineActivity"/>
            <wsdl:output name="LinkBaselineActivityResponse" message="tns:LinkBaselineActivityResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BaselineProjectPortBinding" type="tns:BaselineProjectPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateBaselineProjects">
            <soap:operation soapAction="CreateBaselineProjects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadBaselineProjects">
            <soap:operation soapAction="ReadBaselineProjects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateBaselineProjects">
            <soap:operation soapAction="UpdateBaselineProjects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteBaselineProjects">
            <soap:operation soapAction="DeleteBaselineProjects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthBaselineProject">
            <soap:operation soapAction="getFieldLengthBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RestoreBaselineProject">
            <soap:operation soapAction="RestoreBaselineProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="LinkBaselineActivity">
            <soap:operation soapAction="LinkBaselineActivity" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BaselineProjectService">
        <wsdl:port name="BaselineProjectPort" binding="tns:BaselineProjectPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/BaselineProjectService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>