dev/middleware/soa/wsdl/BaselineTypeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/BaselineType/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/BaselineType/V1" name="BaselineTypeService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/BaselineType/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateBaselineTypes">
                <xsd:sequence>
                    <xsd:element name="BaselineType" type="tns:BaselineType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateBaselineTypesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateBaselineTypes" type="tns:CreateBaselineTypes"/>
            <xsd:element name="CreateBaselineTypesResponse" type="tns:CreateBaselineTypesResponse"/>

            <xsd:complexType name="ReadBaselineTypes">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:BaselineTypeFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadBaselineTypesResponse">
                <xsd:sequence>
                    <xsd:element name="BaselineType" type="tns:BaselineType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadBaselineTypes" type="tns:ReadBaselineTypes"/>
            <xsd:element name="ReadBaselineTypesResponse" type="tns:ReadBaselineTypesResponse"/>

            <xsd:simpleType name="BaselineTypeFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateBaselineTypes">
                <xsd:sequence>
                    <xsd:element name="BaselineType" type="tns:BaselineType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateBaselineTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateBaselineTypes" type="tns:UpdateBaselineTypes"/>
            <xsd:element name="UpdateBaselineTypesResponse" type="tns:UpdateBaselineTypesResponse"/>

            <xsd:complexType name="DeleteBaselineTypes">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteBaselineTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteBaselineTypes" type="tns:DeleteBaselineTypes"/>
            <xsd:element name="DeleteBaselineTypesResponse" type="tns:DeleteBaselineTypesResponse"/>

            <xsd:complexType name="getFieldLengthBaselineType">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthBaselineTypeResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthBaselineType" type="tns:getFieldLengthBaselineType"/>
            <xsd:element name="getFieldLengthBaselineTypeResponse" type="tns:getFieldLengthBaselineTypeResponse"/>

            <xsd:complexType name="BaselineType">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateBaselineTypes">
        <wsdl:part name="params" element="tns:CreateBaselineTypes"/>
    </wsdl:message>
    <wsdl:message name="CreateBaselineTypesResponse">
        <wsdl:part name="result" element="tns:CreateBaselineTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadBaselineTypes">
        <wsdl:part name="params" element="tns:ReadBaselineTypes"/>
    </wsdl:message>
    <wsdl:message name="ReadBaselineTypesResponse">
        <wsdl:part name="result" element="tns:ReadBaselineTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateBaselineTypes">
        <wsdl:part name="params" element="tns:UpdateBaselineTypes"/>
    </wsdl:message>
    <wsdl:message name="UpdateBaselineTypesResponse">
        <wsdl:part name="result" element="tns:UpdateBaselineTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteBaselineTypes">
        <wsdl:part name="params" element="tns:DeleteBaselineTypes"/>
    </wsdl:message>
    <wsdl:message name="DeleteBaselineTypesResponse">
        <wsdl:part name="result" element="tns:DeleteBaselineTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthBaselineType">
        <wsdl:part name="params" element="tns:getFieldLengthBaselineType"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthBaselineTypeResponse">
        <wsdl:part name="result" element="tns:getFieldLengthBaselineTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="BaselineTypePortType">
        <wsdl:operation name="CreateBaselineTypes">
            <wsdl:input name="CreateBaselineTypesRequest" message="tns:CreateBaselineTypes"/>
            <wsdl:output name="CreateBaselineTypesResponse" message="tns:CreateBaselineTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadBaselineTypes">
            <wsdl:input name="ReadBaselineTypesRequest" message="tns:ReadBaselineTypes"/>
            <wsdl:output name="ReadBaselineTypesResponse" message="tns:ReadBaselineTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateBaselineTypes">
            <wsdl:input name="UpdateBaselineTypesRequest" message="tns:UpdateBaselineTypes"/>
            <wsdl:output name="UpdateBaselineTypesResponse" message="tns:UpdateBaselineTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteBaselineTypes">
            <wsdl:input name="DeleteBaselineTypesRequest" message="tns:DeleteBaselineTypes"/>
            <wsdl:output name="DeleteBaselineTypesResponse" message="tns:DeleteBaselineTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthBaselineType">
            <wsdl:input name="getFieldLengthBaselineTypeRequest" message="tns:getFieldLengthBaselineType"/>
            <wsdl:output name="getFieldLengthBaselineTypeResponse" message="tns:getFieldLengthBaselineTypeResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BaselineTypePortBinding" type="tns:BaselineTypePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateBaselineTypes">
            <soap:operation soapAction="CreateBaselineTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadBaselineTypes">
            <soap:operation soapAction="ReadBaselineTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateBaselineTypes">
            <soap:operation soapAction="UpdateBaselineTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteBaselineTypes">
            <soap:operation soapAction="DeleteBaselineTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthBaselineType">
            <soap:operation soapAction="getFieldLengthBaselineType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BaselineTypeService">
        <wsdl:port name="BaselineTypePort" binding="tns:BaselineTypePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/BaselineTypeService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>