dev/middleware/soa/wsdl/CostAccountService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/CostAccount/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/CostAccount/V1" name="CostAccountService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/CostAccount/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateCostAccounts">
                <xsd:sequence>
                    <xsd:element name="CostAccount" type="tns:CostAccount" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateCostAccountsResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateCostAccounts" type="tns:CreateCostAccounts"/>
            <xsd:element name="CreateCostAccountsResponse" type="tns:CreateCostAccountsResponse"/>

            <xsd:complexType name="ReadCostAccounts">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:CostAccountFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadCostAccountsResponse">
                <xsd:sequence>
                    <xsd:element name="CostAccount" type="tns:CostAccount" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadCostAccounts" type="tns:ReadCostAccounts"/>
            <xsd:element name="ReadCostAccountsResponse" type="tns:ReadCostAccountsResponse"/>

            <xsd:simpleType name="CostAccountFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="Description"/>
                    <xsd:enumeration value="Id"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="ParentObjectId"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateCostAccounts">
                <xsd:sequence>
                    <xsd:element name="CostAccount" type="tns:CostAccount" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateCostAccountsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateCostAccounts" type="tns:UpdateCostAccounts"/>
            <xsd:element name="UpdateCostAccountsResponse" type="tns:UpdateCostAccountsResponse"/>

            <xsd:complexType name="DeleteCostAccounts">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="DeleteWithReplacement" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                                <xsd:element name="ReplacementObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteCostAccountsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteCostAccounts" type="tns:DeleteCostAccounts"/>
            <xsd:element name="DeleteCostAccountsResponse" type="tns:DeleteCostAccountsResponse"/>

            <xsd:complexType name="getFieldLengthCostAccount">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthCostAccountResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthCostAccount" type="tns:getFieldLengthCostAccount"/>
            <xsd:element name="getFieldLengthCostAccountResponse" type="tns:getFieldLengthCostAccountResponse"/>

            <xsd:complexType name="ReadCostAccountPath">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="Field" type="tns:CostAccountFieldType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadCostAccountPathResponse">
                <xsd:sequence>
                    <xsd:element name="CostAccount" type="tns:CostAccount" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadCostAccountPath" type="tns:ReadCostAccountPath"/>
            <xsd:element name="ReadCostAccountPathResponse" type="tns:ReadCostAccountPathResponse"/>

            <xsd:complexType name="CostAccount">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Id" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ParentObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateCostAccounts">
        <wsdl:part name="params" element="tns:CreateCostAccounts"/>
    </wsdl:message>
    <wsdl:message name="CreateCostAccountsResponse">
        <wsdl:part name="result" element="tns:CreateCostAccountsResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadCostAccounts">
        <wsdl:part name="params" element="tns:ReadCostAccounts"/>
    </wsdl:message>
    <wsdl:message name="ReadCostAccountsResponse">
        <wsdl:part name="result" element="tns:ReadCostAccountsResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateCostAccounts">
        <wsdl:part name="params" element="tns:UpdateCostAccounts"/>
    </wsdl:message>
    <wsdl:message name="UpdateCostAccountsResponse">
        <wsdl:part name="result" element="tns:UpdateCostAccountsResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteCostAccounts">
        <wsdl:part name="params" element="tns:DeleteCostAccounts"/>
    </wsdl:message>
    <wsdl:message name="DeleteCostAccountsResponse">
        <wsdl:part name="result" element="tns:DeleteCostAccountsResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthCostAccount">
        <wsdl:part name="params" element="tns:getFieldLengthCostAccount"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthCostAccountResponse">
        <wsdl:part name="result" element="tns:getFieldLengthCostAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadCostAccountPath">
        <wsdl:part name="params" element="tns:ReadCostAccountPath"/>
    </wsdl:message>
    <wsdl:message name="ReadCostAccountPathResponse">
        <wsdl:part name="result" element="tns:ReadCostAccountPathResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="CostAccountPortType">
        <wsdl:operation name="CreateCostAccounts">
            <wsdl:input name="CreateCostAccountsRequest" message="tns:CreateCostAccounts"/>
            <wsdl:output name="CreateCostAccountsResponse" message="tns:CreateCostAccountsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadCostAccounts">
            <wsdl:input name="ReadCostAccountsRequest" message="tns:ReadCostAccounts"/>
            <wsdl:output name="ReadCostAccountsResponse" message="tns:ReadCostAccountsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateCostAccounts">
            <wsdl:input name="UpdateCostAccountsRequest" message="tns:UpdateCostAccounts"/>
            <wsdl:output name="UpdateCostAccountsResponse" message="tns:UpdateCostAccountsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteCostAccounts">
            <wsdl:input name="DeleteCostAccountsRequest" message="tns:DeleteCostAccounts"/>
            <wsdl:output name="DeleteCostAccountsResponse" message="tns:DeleteCostAccountsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthCostAccount">
            <wsdl:input name="getFieldLengthCostAccountRequest" message="tns:getFieldLengthCostAccount"/>
            <wsdl:output name="getFieldLengthCostAccountResponse" message="tns:getFieldLengthCostAccountResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadCostAccountPath">
            <wsdl:input name="ReadCostAccountPathRequest" message="tns:ReadCostAccountPath"/>
            <wsdl:output name="ReadCostAccountPathResponse" message="tns:ReadCostAccountPathResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CostAccountPortBinding" type="tns:CostAccountPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateCostAccounts">
            <soap:operation soapAction="CreateCostAccounts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadCostAccounts">
            <soap:operation soapAction="ReadCostAccounts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateCostAccounts">
            <soap:operation soapAction="UpdateCostAccounts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteCostAccounts">
            <soap:operation soapAction="DeleteCostAccounts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthCostAccount">
            <soap:operation soapAction="getFieldLengthCostAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadCostAccountPath">
            <soap:operation soapAction="ReadCostAccountPath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CostAccountService">
        <wsdl:port name="CostAccountPort" binding="tns:CostAccountPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/CostAccountService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>