dev/middleware/soa/wsdl/ExpenseCategoryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ExpenseCategory/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ExpenseCategory/V1" name="ExpenseCategoryService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ExpenseCategory/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateExpenseCategories">
                <xsd:sequence>
                    <xsd:element name="ExpenseCategory" type="tns:ExpenseCategory" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateExpenseCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateExpenseCategories" type="tns:CreateExpenseCategories"/>
            <xsd:element name="CreateExpenseCategoriesResponse" type="tns:CreateExpenseCategoriesResponse"/>

            <xsd:complexType name="ReadExpenseCategories">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ExpenseCategoryFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadExpenseCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="ExpenseCategory" type="tns:ExpenseCategory" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadExpenseCategories" type="tns:ReadExpenseCategories"/>
            <xsd:element name="ReadExpenseCategoriesResponse" type="tns:ReadExpenseCategoriesResponse"/>

            <xsd:simpleType name="ExpenseCategoryFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateExpenseCategories">
                <xsd:sequence>
                    <xsd:element name="ExpenseCategory" type="tns:ExpenseCategory" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateExpenseCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateExpenseCategories" type="tns:UpdateExpenseCategories"/>
            <xsd:element name="UpdateExpenseCategoriesResponse" type="tns:UpdateExpenseCategoriesResponse"/>

            <xsd:complexType name="DeleteExpenseCategories">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteExpenseCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteExpenseCategories" type="tns:DeleteExpenseCategories"/>
            <xsd:element name="DeleteExpenseCategoriesResponse" type="tns:DeleteExpenseCategoriesResponse"/>

            <xsd:complexType name="getFieldLengthExpenseCategory">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthExpenseCategoryResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthExpenseCategory" type="tns:getFieldLengthExpenseCategory"/>
            <xsd:element name="getFieldLengthExpenseCategoryResponse" type="tns:getFieldLengthExpenseCategoryResponse"/>

            <xsd:complexType name="ExpenseCategory">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="36"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateExpenseCategories">
        <wsdl:part name="params" element="tns:CreateExpenseCategories"/>
    </wsdl:message>
    <wsdl:message name="CreateExpenseCategoriesResponse">
        <wsdl:part name="result" element="tns:CreateExpenseCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadExpenseCategories">
        <wsdl:part name="params" element="tns:ReadExpenseCategories"/>
    </wsdl:message>
    <wsdl:message name="ReadExpenseCategoriesResponse">
        <wsdl:part name="result" element="tns:ReadExpenseCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateExpenseCategories">
        <wsdl:part name="params" element="tns:UpdateExpenseCategories"/>
    </wsdl:message>
    <wsdl:message name="UpdateExpenseCategoriesResponse">
        <wsdl:part name="result" element="tns:UpdateExpenseCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteExpenseCategories">
        <wsdl:part name="params" element="tns:DeleteExpenseCategories"/>
    </wsdl:message>
    <wsdl:message name="DeleteExpenseCategoriesResponse">
        <wsdl:part name="result" element="tns:DeleteExpenseCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthExpenseCategory">
        <wsdl:part name="params" element="tns:getFieldLengthExpenseCategory"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthExpenseCategoryResponse">
        <wsdl:part name="result" element="tns:getFieldLengthExpenseCategoryResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ExpenseCategoryPortType">
        <wsdl:operation name="CreateExpenseCategories">
            <wsdl:input name="CreateExpenseCategoriesRequest" message="tns:CreateExpenseCategories"/>
            <wsdl:output name="CreateExpenseCategoriesResponse" message="tns:CreateExpenseCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadExpenseCategories">
            <wsdl:input name="ReadExpenseCategoriesRequest" message="tns:ReadExpenseCategories"/>
            <wsdl:output name="ReadExpenseCategoriesResponse" message="tns:ReadExpenseCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateExpenseCategories">
            <wsdl:input name="UpdateExpenseCategoriesRequest" message="tns:UpdateExpenseCategories"/>
            <wsdl:output name="UpdateExpenseCategoriesResponse" message="tns:UpdateExpenseCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteExpenseCategories">
            <wsdl:input name="DeleteExpenseCategoriesRequest" message="tns:DeleteExpenseCategories"/>
            <wsdl:output name="DeleteExpenseCategoriesResponse" message="tns:DeleteExpenseCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthExpenseCategory">
            <wsdl:input name="getFieldLengthExpenseCategoryRequest" message="tns:getFieldLengthExpenseCategory"/>
            <wsdl:output name="getFieldLengthExpenseCategoryResponse" message="tns:getFieldLengthExpenseCategoryResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ExpenseCategoryPortBinding" type="tns:ExpenseCategoryPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateExpenseCategories">
            <soap:operation soapAction="CreateExpenseCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadExpenseCategories">
            <soap:operation soapAction="ReadExpenseCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateExpenseCategories">
            <soap:operation soapAction="UpdateExpenseCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteExpenseCategories">
            <soap:operation soapAction="DeleteExpenseCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthExpenseCategory">
            <soap:operation soapAction="getFieldLengthExpenseCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ExpenseCategoryService">
        <wsdl:port name="ExpenseCategoryPort" binding="tns:ExpenseCategoryPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ExpenseCategoryService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>