dev/middleware/soa/wsdl/RelationshipService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/Relationship/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Relationship/V1" name="RelationshipService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Relationship/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateRelationships">
                <xsd:sequence>
                    <xsd:element name="Relationship" type="tns:Relationship" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateRelationshipsResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateRelationships" type="tns:CreateRelationships"/>
            <xsd:element name="CreateRelationshipsResponse" type="tns:CreateRelationshipsResponse"/>

            <xsd:complexType name="ReadRelationships">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:RelationshipFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadRelationshipsResponse">
                <xsd:sequence>
                    <xsd:element name="Relationship" type="tns:Relationship" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadRelationships" type="tns:ReadRelationships"/>
            <xsd:element name="ReadRelationshipsResponse" type="tns:ReadRelationshipsResponse"/>

            <xsd:simpleType name="RelationshipFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Aref"/>
                    <xsd:enumeration value="Arls"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="IsPredecessorBaseline"/>
                    <xsd:enumeration value="IsPredecessorTemplate"/>
                    <xsd:enumeration value="IsSuccessorBaseline"/>
                    <xsd:enumeration value="IsSuccessorTemplate"/>
                    <xsd:enumeration value="Lag"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="PredecessorActivityId"/>
                    <xsd:enumeration value="PredecessorActivityName"/>
                    <xsd:enumeration value="PredecessorActivityObjectId"/>
                    <xsd:enumeration value="PredecessorActivityType"/>
                    <xsd:enumeration value="PredecessorFinishDate"/>
                    <xsd:enumeration value="PredecessorProjectId"/>
                    <xsd:enumeration value="PredecessorProjectObjectId"/>
                    <xsd:enumeration value="PredecessorStartDate"/>
                    <xsd:enumeration value="PredecessorWbsName"/>
                    <xsd:enumeration value="SuccessorActivityId"/>
                    <xsd:enumeration value="SuccessorActivityName"/>
                    <xsd:enumeration value="SuccessorActivityObjectId"/>
                    <xsd:enumeration value="SuccessorActivityType"/>
                    <xsd:enumeration value="SuccessorFinishDate"/>
                    <xsd:enumeration value="SuccessorProjectId"/>
                    <xsd:enumeration value="SuccessorProjectObjectId"/>
                    <xsd:enumeration value="SuccessorStartDate"/>
                    <xsd:enumeration value="SuccessorWbsName"/>
                    <xsd:enumeration value="Type"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateRelationships">
                <xsd:sequence>
                    <xsd:element name="Relationship" type="tns:Relationship" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateRelationshipsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateRelationships" type="tns:UpdateRelationships"/>
            <xsd:element name="UpdateRelationshipsResponse" type="tns:UpdateRelationshipsResponse"/>

            <xsd:complexType name="DeleteRelationships">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteRelationshipsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteRelationships" type="tns:DeleteRelationships"/>
            <xsd:element name="DeleteRelationshipsResponse" type="tns:DeleteRelationshipsResponse"/>

            <xsd:complexType name="getFieldLengthRelationship">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthRelationshipResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthRelationship" type="tns:getFieldLengthRelationship"/>
            <xsd:element name="getFieldLengthRelationshipResponse" type="tns:getFieldLengthRelationshipResponse"/>

            <xsd:complexType name="Relationship">
                <xsd:sequence>
                    <xsd:element name="Aref" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Arls" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsPredecessorBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsPredecessorTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsSuccessorBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsSuccessorTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="Lag" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="-9.9999999999E10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="PredecessorActivityId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PredecessorActivityName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PredecessorActivityObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="PredecessorActivityType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Task Dependent"/>
                                <xsd:enumeration value="Resource Dependent"/>
                                <xsd:enumeration value="Level of Effort"/>
                                <xsd:enumeration value="Start Milestone"/>
                                <xsd:enumeration value="Finish Milestone"/>
                                <xsd:enumeration value="WBS Summary"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="PredecessorFinishDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="PredecessorProjectId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PredecessorProjectObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="PredecessorStartDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="PredecessorWbsName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SuccessorActivityId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuccessorActivityName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuccessorActivityObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SuccessorActivityType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Task Dependent"/>
                                <xsd:enumeration value="Resource Dependent"/>
                                <xsd:enumeration value="Level of Effort"/>
                                <xsd:enumeration value="Start Milestone"/>
                                <xsd:enumeration value="Finish Milestone"/>
                                <xsd:enumeration value="WBS Summary"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SuccessorFinishDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="SuccessorProjectId" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SuccessorProjectObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SuccessorStartDate" type="xsd:dateTime" minOccurs="0"/>
                    <xsd:element name="SuccessorWbsName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Type" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Finish to Start"/>
                                <xsd:enumeration value="Finish to Finish"/>
                                <xsd:enumeration value="Start to Start"/>
                                <xsd:enumeration value="Start to Finish"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateRelationships">
        <wsdl:part name="params" element="tns:CreateRelationships"/>
    </wsdl:message>
    <wsdl:message name="CreateRelationshipsResponse">
        <wsdl:part name="result" element="tns:CreateRelationshipsResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadRelationships">
        <wsdl:part name="params" element="tns:ReadRelationships"/>
    </wsdl:message>
    <wsdl:message name="ReadRelationshipsResponse">
        <wsdl:part name="result" element="tns:ReadRelationshipsResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateRelationships">
        <wsdl:part name="params" element="tns:UpdateRelationships"/>
    </wsdl:message>
    <wsdl:message name="UpdateRelationshipsResponse">
        <wsdl:part name="result" element="tns:UpdateRelationshipsResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteRelationships">
        <wsdl:part name="params" element="tns:DeleteRelationships"/>
    </wsdl:message>
    <wsdl:message name="DeleteRelationshipsResponse">
        <wsdl:part name="result" element="tns:DeleteRelationshipsResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthRelationship">
        <wsdl:part name="params" element="tns:getFieldLengthRelationship"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthRelationshipResponse">
        <wsdl:part name="result" element="tns:getFieldLengthRelationshipResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="RelationshipPortType">
        <wsdl:operation name="CreateRelationships">
            <wsdl:input name="CreateRelationshipsRequest" message="tns:CreateRelationships"/>
            <wsdl:output name="CreateRelationshipsResponse" message="tns:CreateRelationshipsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadRelationships">
            <wsdl:input name="ReadRelationshipsRequest" message="tns:ReadRelationships"/>
            <wsdl:output name="ReadRelationshipsResponse" message="tns:ReadRelationshipsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateRelationships">
            <wsdl:input name="UpdateRelationshipsRequest" message="tns:UpdateRelationships"/>
            <wsdl:output name="UpdateRelationshipsResponse" message="tns:UpdateRelationshipsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteRelationships">
            <wsdl:input name="DeleteRelationshipsRequest" message="tns:DeleteRelationships"/>
            <wsdl:output name="DeleteRelationshipsResponse" message="tns:DeleteRelationshipsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthRelationship">
            <wsdl:input name="getFieldLengthRelationshipRequest" message="tns:getFieldLengthRelationship"/>
            <wsdl:output name="getFieldLengthRelationshipResponse" message="tns:getFieldLengthRelationshipResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="RelationshipPortBinding" type="tns:RelationshipPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateRelationships">
            <soap:operation soapAction="CreateRelationships" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadRelationships">
            <soap:operation soapAction="ReadRelationships" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateRelationships">
            <soap:operation soapAction="UpdateRelationships" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteRelationships">
            <soap:operation soapAction="DeleteRelationships" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthRelationship">
            <soap:operation soapAction="getFieldLengthRelationship" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="RelationshipService">
        <wsdl:port name="RelationshipPort" binding="tns:RelationshipPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/RelationshipService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>