dev/middleware/soa/wsdl/WBSCategoryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/WBSCategory/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/WBSCategory/V1" name="WBSCategoryService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/WBSCategory/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateWBSCategories">
                <xsd:sequence>
                    <xsd:element name="WBSCategory" type="tns:WBSCategory" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateWBSCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateWBSCategories" type="tns:CreateWBSCategories"/>
            <xsd:element name="CreateWBSCategoriesResponse" type="tns:CreateWBSCategoriesResponse"/>

            <xsd:complexType name="ReadWBSCategories">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:WBSCategoryFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadWBSCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="WBSCategory" type="tns:WBSCategory" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadWBSCategories" type="tns:ReadWBSCategories"/>
            <xsd:element name="ReadWBSCategoriesResponse" type="tns:ReadWBSCategoriesResponse"/>

            <xsd:simpleType name="WBSCategoryFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateWBSCategories">
                <xsd:sequence>
                    <xsd:element name="WBSCategory" type="tns:WBSCategory" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateWBSCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateWBSCategories" type="tns:UpdateWBSCategories"/>
            <xsd:element name="UpdateWBSCategoriesResponse" type="tns:UpdateWBSCategoriesResponse"/>

            <xsd:complexType name="DeleteWBSCategories">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteWBSCategoriesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteWBSCategories" type="tns:DeleteWBSCategories"/>
            <xsd:element name="DeleteWBSCategoriesResponse" type="tns:DeleteWBSCategoriesResponse"/>

            <xsd:complexType name="getFieldLengthWBSCategory">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthWBSCategoryResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthWBSCategory" type="tns:getFieldLengthWBSCategory"/>
            <xsd:element name="getFieldLengthWBSCategoryResponse" type="tns:getFieldLengthWBSCategoryResponse"/>

            <xsd:complexType name="WBSCategory">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateWBSCategories">
        <wsdl:part name="params" element="tns:CreateWBSCategories"/>
    </wsdl:message>
    <wsdl:message name="CreateWBSCategoriesResponse">
        <wsdl:part name="result" element="tns:CreateWBSCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadWBSCategories">
        <wsdl:part name="params" element="tns:ReadWBSCategories"/>
    </wsdl:message>
    <wsdl:message name="ReadWBSCategoriesResponse">
        <wsdl:part name="result" element="tns:ReadWBSCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateWBSCategories">
        <wsdl:part name="params" element="tns:UpdateWBSCategories"/>
    </wsdl:message>
    <wsdl:message name="UpdateWBSCategoriesResponse">
        <wsdl:part name="result" element="tns:UpdateWBSCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteWBSCategories">
        <wsdl:part name="params" element="tns:DeleteWBSCategories"/>
    </wsdl:message>
    <wsdl:message name="DeleteWBSCategoriesResponse">
        <wsdl:part name="result" element="tns:DeleteWBSCategoriesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthWBSCategory">
        <wsdl:part name="params" element="tns:getFieldLengthWBSCategory"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthWBSCategoryResponse">
        <wsdl:part name="result" element="tns:getFieldLengthWBSCategoryResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="WBSCategoryPortType">
        <wsdl:operation name="CreateWBSCategories">
            <wsdl:input name="CreateWBSCategoriesRequest" message="tns:CreateWBSCategories"/>
            <wsdl:output name="CreateWBSCategoriesResponse" message="tns:CreateWBSCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadWBSCategories">
            <wsdl:input name="ReadWBSCategoriesRequest" message="tns:ReadWBSCategories"/>
            <wsdl:output name="ReadWBSCategoriesResponse" message="tns:ReadWBSCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateWBSCategories">
            <wsdl:input name="UpdateWBSCategoriesRequest" message="tns:UpdateWBSCategories"/>
            <wsdl:output name="UpdateWBSCategoriesResponse" message="tns:UpdateWBSCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteWBSCategories">
            <wsdl:input name="DeleteWBSCategoriesRequest" message="tns:DeleteWBSCategories"/>
            <wsdl:output name="DeleteWBSCategoriesResponse" message="tns:DeleteWBSCategoriesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthWBSCategory">
            <wsdl:input name="getFieldLengthWBSCategoryRequest" message="tns:getFieldLengthWBSCategory"/>
            <wsdl:output name="getFieldLengthWBSCategoryResponse" message="tns:getFieldLengthWBSCategoryResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WBSCategoryPortBinding" type="tns:WBSCategoryPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateWBSCategories">
            <soap:operation soapAction="CreateWBSCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadWBSCategories">
            <soap:operation soapAction="ReadWBSCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateWBSCategories">
            <soap:operation soapAction="UpdateWBSCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteWBSCategories">
            <soap:operation soapAction="DeleteWBSCategories" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthWBSCategory">
            <soap:operation soapAction="getFieldLengthWBSCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WBSCategoryService">
        <wsdl:port name="WBSCategoryPort" binding="tns:WBSCategoryPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/WBSCategoryService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>