dev/middleware/soa/wsdl/WBSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/WBS/V2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/WBS/V2" name="WBSService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/WBS/V2" elementFormDefault="qualified">
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateWBS">
                <xsd:sequence>
                    <xsd:element name="WBS" type="tns:WBS" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateWBSResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateWBS" type="tns:CreateWBS"/>
            <xsd:element name="CreateWBSResponse" type="tns:CreateWBSResponse"/>

            <xsd:complexType name="ReadWBS">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:WBSFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadWBSResponse">
                <xsd:sequence>
                    <xsd:element name="WBS" type="tns:WBS" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadWBS" type="tns:ReadWBS"/>
            <xsd:element name="ReadWBSResponse" type="tns:ReadWBSResponse"/>

            <xsd:simpleType name="WBSFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AnticipatedFinishDate"/>
                    <xsd:enumeration value="AnticipatedStartDate"/>
                    <xsd:enumeration value="Code"/>
                    <xsd:enumeration value="ContainsSummaryData"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="CurrentBudget"/>
                    <xsd:enumeration value="CurrentVariance"/>
                    <xsd:enumeration value="DistributedCurrentBudget"/>
                    <xsd:enumeration value="EarnedValueComputeType"/>
                    <xsd:enumeration value="EarnedValueETCComputeType"/>
                    <xsd:enumeration value="EarnedValueETCUserValue"/>
                    <xsd:enumeration value="EarnedValueUserPercent"/>
                    <xsd:enumeration value="EstimatedWeight"/>
                    <xsd:enumeration value="FinishDate"/>
                    <xsd:enumeration value="ForecastFinishDate"/>
                    <xsd:enumeration value="ForecastStartDate"/>
                    <xsd:enumeration value="GUID"/>
                    <xsd:enumeration value="IndependentETCLaborUnits"/>
                    <xsd:enumeration value="IndependentETCTotalCost"/>
                    <xsd:enumeration value="IntegratedType"/>
                    <xsd:enumeration value="IntegratedWBS"/>
                    <xsd:enumeration value="IsBaseline"/>
                    <xsd:enumeration value="IsTemplate"/>
                    <xsd:enumeration value="IsWorkPackage"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="OBSName"/>
                    <xsd:enumeration value="OBSObjectId"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="OriginalBudget"/>
                    <xsd:enumeration value="ParentObjectId"/>
                    <xsd:enumeration value="ProjectId"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="ProposedBudget"/>
                    <xsd:enumeration value="RolledUpFinishDate"/>
                    <xsd:enumeration value="RolledUpStartDate"/>
                    <xsd:enumeration value="SequenceNumber"/>
                    <xsd:enumeration value="StartDate"/>
                    <xsd:enumeration value="Status"/>
                    <xsd:enumeration value="StatusReviewerName"/>
                    <xsd:enumeration value="StatusReviewerObjectId"/>
                    <xsd:enumeration value="SummaryAccountingVarianceByCost"/>
                    <xsd:enumeration value="SummaryAccountingVarianceByLaborUnits"/>
                    <xsd:enumeration value="SummaryActivityCount"/>
                    <xsd:enumeration value="SummaryActualDuration"/>
                    <xsd:enumeration value="SummaryActualExpenseCost"/>
                    <xsd:enumeration value="SummaryActualFinishDate"/>
                    <xsd:enumeration value="SummaryActualLaborCost"/>
                    <xsd:enumeration value="SummaryActualLaborUnits"/>
                    <xsd:enumeration value="SummaryActualMaterialCost"/>
                    <xsd:enumeration value="SummaryActualNonLaborCost"/>
                    <xsd:enumeration value="SummaryActualNonLaborUnits"/>
                    <xsd:enumeration value="SummaryActualStartDate"/>
                    <xsd:enumeration value="SummaryActualThisPeriodCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodLaborCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodLaborUnits"/>
                    <xsd:enumeration value="SummaryActualThisPeriodMaterialCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodNonLaborCost"/>
                    <xsd:enumeration value="SummaryActualThisPeriodNonLaborUnits"/>
                    <xsd:enumeration value="SummaryActualTotalCost"/>
                    <xsd:enumeration value="SummaryActualValueByCost"/>
                    <xsd:enumeration value="SummaryActualValueByLaborUnits"/>
                    <xsd:enumeration value="SummaryAtCompletionDuration"/>
                    <xsd:enumeration value="SummaryAtCompletionExpenseCost"/>
                    <xsd:enumeration value="SummaryAtCompletionLaborCost"/>
                    <xsd:enumeration value="SummaryAtCompletionLaborUnits"/>
                    <xsd:enumeration value="SummaryAtCompletionMaterialCost"/>
                    <xsd:enumeration value="SummaryAtCompletionNonLaborCost"/>
                    <xsd:enumeration value="SummaryAtCompletionNonLaborUnits"/>
                    <xsd:enumeration value="SummaryAtCompletionTotalCost"/>
                    <xsd:enumeration value="SummaryAtCompletionTotalCostVariance"/>
                    <xsd:enumeration value="SummaryBaselineCompletedActivityCount"/>
                    <xsd:enumeration value="SummaryBaselineDuration"/>
                    <xsd:enumeration value="SummaryBaselineExpenseCost"/>
                    <xsd:enumeration value="SummaryBaselineFinishDate"/>
                    <xsd:enumeration value="SummaryBaselineInProgressActivityCount"/>
                    <xsd:enumeration value="SummaryBaselineLaborCost"/>
                    <xsd:enumeration value="SummaryBaselineLaborUnits"/>
                    <xsd:enumeration value="SummaryBaselineMaterialCost"/>
                    <xsd:enumeration value="SummaryBaselineNonLaborCost"/>
                    <xsd:enumeration value="SummaryBaselineNonLaborUnits"/>
                    <xsd:enumeration value="SummaryBaselineNotStartedActivityCount"/>
                    <xsd:enumeration value="SummaryBaselineStartDate"/>
                    <xsd:enumeration value="SummaryBaselineTotalCost"/>
                    <xsd:enumeration value="SummaryBudgetAtCompletionByCost"/>
                    <xsd:enumeration value="SummaryBudgetAtCompletionByLaborUnits"/>
                    <xsd:enumeration value="SummaryCompletedActivityCount"/>
                    <xsd:enumeration value="SummaryCostPercentComplete"/>
                    <xsd:enumeration value="SummaryCostPercentOfPlanned"/>
                    <xsd:enumeration value="SummaryCostPerformanceIndexByCost"/>
                    <xsd:enumeration value="SummaryCostPerformanceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryCostVarianceByCost"/>
                    <xsd:enumeration value="SummaryCostVarianceByLaborUnits"/>
                    <xsd:enumeration value="SummaryCostVarianceIndex"/>
                    <xsd:enumeration value="SummaryCostVarianceIndexByCost"/>
                    <xsd:enumeration value="SummaryCostVarianceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryDurationPercentComplete"/>
                    <xsd:enumeration value="SummaryDurationPercentOfPlanned"/>
                    <xsd:enumeration value="SummaryDurationVariance"/>
                    <xsd:enumeration value="SummaryEarnedValueByCost"/>
                    <xsd:enumeration value="SummaryEarnedValueByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionByCost"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionHighPercentByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateAtCompletionLowPercentByLaborUnits"/>
                    <xsd:enumeration value="SummaryEstimateToCompleteByCost"/>
                    <xsd:enumeration value="SummaryEstimateToCompleteByLaborUnits"/>
                    <xsd:enumeration value="SummaryExpenseCostPercentComplete"/>
                    <xsd:enumeration value="SummaryExpenseCostVariance"/>
                    <xsd:enumeration value="SummaryFinishDateVariance"/>
                    <xsd:enumeration value="SummaryInProgressActivityCount"/>
                    <xsd:enumeration value="SummaryLaborCostPercentComplete"/>
                    <xsd:enumeration value="SummaryLaborCostVariance"/>
                    <xsd:enumeration value="SummaryLaborUnitsPercentComplete"/>
                    <xsd:enumeration value="SummaryLaborUnitsVariance"/>
                    <xsd:enumeration value="SummaryMaterialCostPercentComplete"/>
                    <xsd:enumeration value="SummaryMaterialCostVariance"/>
                    <xsd:enumeration value="SummaryNonLaborCostPercentComplete"/>
                    <xsd:enumeration value="SummaryNonLaborCostVariance"/>
                    <xsd:enumeration value="SummaryNonLaborUnitsPercentComplete"/>
                    <xsd:enumeration value="SummaryNonLaborUnitsVariance"/>
                    <xsd:enumeration value="SummaryNotStartedActivityCount"/>
                    <xsd:enumeration value="SummaryPerformancePercentCompleteByCost"/>
                    <xsd:enumeration value="SummaryPerformancePercentCompleteByLaborUnits"/>
                    <xsd:enumeration value="SummaryPlannedCost"/>
                    <xsd:enumeration value="SummaryPlannedDuration"/>
                    <xsd:enumeration value="SummaryPlannedExpenseCost"/>
                    <xsd:enumeration value="SummaryPlannedFinishDate"/>
                    <xsd:enumeration value="SummaryPlannedLaborCost"/>
                    <xsd:enumeration value="SummaryPlannedLaborUnits"/>
                    <xsd:enumeration value="SummaryPlannedMaterialCost"/>
                    <xsd:enumeration value="SummaryPlannedNonLaborCost"/>
                    <xsd:enumeration value="SummaryPlannedNonLaborUnits"/>
                    <xsd:enumeration value="SummaryPlannedStartDate"/>
                    <xsd:enumeration value="SummaryPlannedValueByCost"/>
                    <xsd:enumeration value="SummaryPlannedValueByLaborUnits"/>
                    <xsd:enumeration value="SummaryProgressFinishDate"/>
                    <xsd:enumeration value="SummaryRemainingDuration"/>
                    <xsd:enumeration value="SummaryRemainingExpenseCost"/>
                    <xsd:enumeration value="SummaryRemainingFinishDate"/>
                    <xsd:enumeration value="SummaryRemainingLaborCost"/>
                    <xsd:enumeration value="SummaryRemainingLaborUnits"/>
                    <xsd:enumeration value="SummaryRemainingMaterialCost"/>
                    <xsd:enumeration value="SummaryRemainingNonLaborCost"/>
                    <xsd:enumeration value="SummaryRemainingNonLaborUnits"/>
                    <xsd:enumeration value="SummaryRemainingStartDate"/>
                    <xsd:enumeration value="SummaryRemainingTotalCost"/>
                    <xsd:enumeration value="SummarySchedulePercentComplete"/>
                    <xsd:enumeration value="SummarySchedulePercentCompleteByLaborUnits"/>
                    <xsd:enumeration value="SummarySchedulePerformanceIndexByCost"/>
                    <xsd:enumeration value="SummarySchedulePerformanceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryScheduleVarianceByCost"/>
                    <xsd:enumeration value="SummaryScheduleVarianceByLaborUnits"/>
                    <xsd:enumeration value="SummaryScheduleVarianceIndex"/>
                    <xsd:enumeration value="SummaryScheduleVarianceIndexByCost"/>
                    <xsd:enumeration value="SummaryScheduleVarianceIndexByLaborUnits"/>
                    <xsd:enumeration value="SummaryStartDateVariance"/>
                    <xsd:enumeration value="SummaryToCompletePerformanceIndexByCost"/>
                    <xsd:enumeration value="SummaryTotalCostVariance"/>
                    <xsd:enumeration value="SummaryTotalFloat"/>
                    <xsd:enumeration value="SummaryUnitsPercentComplete"/>
                    <xsd:enumeration value="SummaryVarianceAtCompletionByLaborUnits"/>
                    <xsd:enumeration value="TotalBenefitPlan"/>
                    <xsd:enumeration value="TotalBenefitPlanTally"/>
                    <xsd:enumeration value="TotalSpendingPlan"/>
                    <xsd:enumeration value="TotalSpendingPlanTally"/>
                    <xsd:enumeration value="UnallocatedBudget"/>
                    <xsd:enumeration value="UndistributedCurrentVariance"/>
                    <xsd:enumeration value="WBSCategoryObjectId"/>
                    <xsd:enumeration value="WBSMilestonePercentComplete"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateWBS">
                <xsd:sequence>
                    <xsd:element name="WBS" type="tns:WBS" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateWBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateWBS" type="tns:UpdateWBS"/>
            <xsd:element name="UpdateWBSResponse" type="tns:UpdateWBSResponse"/>

            <xsd:complexType name="DeleteWBS">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="DeleteWithReplacement" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                                <xsd:element name="ReplacementObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteWBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteWBS" type="tns:DeleteWBS"/>
            <xsd:element name="DeleteWBSResponse" type="tns:DeleteWBSResponse"/>

            <xsd:complexType name="getFieldLengthWBS">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthWBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthWBS" type="tns:getFieldLengthWBS"/>
            <xsd:element name="getFieldLengthWBSResponse" type="tns:getFieldLengthWBSResponse"/>

            <xsd:complexType name="ReadWBSPath">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="Field" type="tns:WBSFieldType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadWBSPathResponse">
                <xsd:sequence>
                    <xsd:element name="WBS" type="tns:WBS" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadWBSPath" type="tns:ReadWBSPath"/>
            <xsd:element name="ReadWBSPathResponse" type="tns:ReadWBSPathResponse"/>

            <xsd:complexType name="ReadActivityWBSPath">
                <xsd:sequence>
                    <xsd:element name="ActivityObjectId" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="Field" type="tns:WBSFieldType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadActivityWBSPathResponse">
                <xsd:sequence>
                    <xsd:element name="WBS" type="tns:WBS" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadActivityWBSPath" type="tns:ReadActivityWBSPath"/>
            <xsd:element name="ReadActivityWBSPathResponse" type="tns:ReadActivityWBSPathResponse"/>

            <xsd:complexType name="ReadAllWBS">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                    <xsd:element name="Field" type="tns:WBSFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadAllWBSResponse">
                <xsd:sequence>
                    <xsd:element name="WBS" type="tns:WBS" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadAllWBS" type="tns:ReadAllWBS"/>
            <xsd:element name="ReadAllWBSResponse" type="tns:ReadAllWBSResponse"/>

            <xsd:complexType name="CopyWBSFromTemplate">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                    <xsd:element name="TemplateWbsObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CopyWBSFromTemplateResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CopyWBSFromTemplate" type="tns:CopyWBSFromTemplate"/>
            <xsd:element name="CopyWBSFromTemplateResponse" type="tns:CopyWBSFromTemplateResponse"/>

            <xsd:complexType name="WBS">
                <xsd:sequence>
                    <xsd:element name="AnticipatedFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="AnticipatedStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Code" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ContainsSummaryData" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CurrentBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="CurrentVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="DistributedCurrentBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EarnedValueComputeType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="Activity Percent Complete"/>
                                <xsd:enumeration value="0 / 100"/>
                                <xsd:enumeration value="50 / 50"/>
                                <xsd:enumeration value="Custom Percent Complete"/>
                                <xsd:enumeration value="WBS Milestones Percent Complete"/>
                                <xsd:enumeration value="Activity Percent Complete Using Resource Curves"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EarnedValueETCComputeType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="ETC = Remaining Cost for Activity"/>
                                <xsd:enumeration value="PF = 1"/>
                                <xsd:enumeration value="PF = Custom Value"/>
                                <xsd:enumeration value="PF = 1 / CPI"/>
                                <xsd:enumeration value="PF = 1 / (CPI * SPI)"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EarnedValueETCUserValue" minOccurs="0" nillable="true">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EarnedValueUserPercent" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="EstimatedWeight" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:double">
                                <xsd:minInclusive value="0.0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="FinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ForecastFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="ForecastStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="GUID" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}|"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IndependentETCLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="IndependentETCTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="IntegratedType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                                <xsd:enumeration value="ERP"/>
                                <xsd:enumeration value="Gateway"/>
                                <xsd:enumeration value="PrimeScope"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IntegratedWBS" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsWorkPackage" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OBSName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OBSObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="OriginalBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="ParentObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ProjectId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ProposedBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="RolledUpFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="RolledUpStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="Status" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Planned"/>
                                <xsd:enumeration value="Active"/>
                                <xsd:enumeration value="Inactive"/>
                                <xsd:enumeration value="What-If"/>
                                <xsd:enumeration value="Requested"/>
                                <xsd:enumeration value="Template"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StatusReviewerName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="StatusReviewerObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAccountingVarianceByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAccountingVarianceByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualThisPeriodNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualValueByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryActualValueByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryAtCompletionTotalCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineCompletedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineInProgressActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineNotStartedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBaselineTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBudgetAtCompletionByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryBudgetAtCompletionByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCompletedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPercentOfPlanned" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPerformanceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostPerformanceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryCostVarianceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryDurationPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryDurationPercentOfPlanned" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryDurationVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEarnedValueByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEarnedValueByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionHighPercentByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateAtCompletionLowPercentByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateToCompleteByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryEstimateToCompleteByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryExpenseCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryExpenseCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryFinishDateVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryInProgressActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryLaborUnitsVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryMaterialCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryMaterialCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborCostPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNonLaborUnitsVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryNotStartedActivityCount" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPerformancePercentCompleteByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPerformancePercentCompleteByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedValueByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryPlannedValueByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryProgressFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingDuration" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingExpenseCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingFinishDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingMaterialCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingNonLaborCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingNonLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingStartDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryRemainingTotalCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePercentCompleteByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePerformanceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummarySchedulePerformanceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceIndex" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryScheduleVarianceIndexByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryStartDateVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryToCompletePerformanceIndexByCost" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryTotalCostVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryTotalFloat" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryUnitsPercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="SummaryVarianceAtCompletionByLaborUnits" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalBenefitPlan" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalBenefitPlanTally" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalSpendingPlan" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="TotalSpendingPlanTally" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="UnallocatedBudget" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="UndistributedCurrentVariance" type="xsd:double" minOccurs="0" nillable="true"/>
                    <xsd:element name="WBSCategoryObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="WBSMilestonePercentComplete" type="xsd:double" minOccurs="0" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateWBS">
        <wsdl:part name="params" element="tns:CreateWBS"/>
    </wsdl:message>
    <wsdl:message name="CreateWBSResponse">
        <wsdl:part name="result" element="tns:CreateWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadWBS">
        <wsdl:part name="params" element="tns:ReadWBS"/>
    </wsdl:message>
    <wsdl:message name="ReadWBSResponse">
        <wsdl:part name="result" element="tns:ReadWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateWBS">
        <wsdl:part name="params" element="tns:UpdateWBS"/>
    </wsdl:message>
    <wsdl:message name="UpdateWBSResponse">
        <wsdl:part name="result" element="tns:UpdateWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteWBS">
        <wsdl:part name="params" element="tns:DeleteWBS"/>
    </wsdl:message>
    <wsdl:message name="DeleteWBSResponse">
        <wsdl:part name="result" element="tns:DeleteWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthWBS">
        <wsdl:part name="params" element="tns:getFieldLengthWBS"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthWBSResponse">
        <wsdl:part name="result" element="tns:getFieldLengthWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityWBSPath">
        <wsdl:part name="params" element="tns:ReadActivityWBSPath"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityWBSPathResponse">
        <wsdl:part name="result" element="tns:ReadActivityWBSPathResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadWBSPath">
        <wsdl:part name="params" element="tns:ReadWBSPath"/>
    </wsdl:message>
    <wsdl:message name="ReadWBSPathResponse">
        <wsdl:part name="result" element="tns:ReadWBSPathResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadAllWBS">
        <wsdl:part name="params" element="tns:ReadAllWBS"/>
    </wsdl:message>
    <wsdl:message name="ReadAllWBSResponse">
        <wsdl:part name="result" element="tns:ReadAllWBSResponse"/>
    </wsdl:message>
    <wsdl:message name="CopyWBSFromTemplate">
        <wsdl:part name="params" element="tns:CopyWBSFromTemplate"/>
    </wsdl:message>
    <wsdl:message name="CopyWBSFromTemplateResponse">
        <wsdl:part name="result" element="tns:CopyWBSFromTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="WBSPortType">
        <wsdl:operation name="CreateWBS">
            <wsdl:input name="CreateWBSRequest" message="tns:CreateWBS"/>
            <wsdl:output name="CreateWBSResponse" message="tns:CreateWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadWBS">
            <wsdl:input name="ReadWBSRequest" message="tns:ReadWBS"/>
            <wsdl:output name="ReadWBSResponse" message="tns:ReadWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateWBS">
            <wsdl:input name="UpdateWBSRequest" message="tns:UpdateWBS"/>
            <wsdl:output name="UpdateWBSResponse" message="tns:UpdateWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteWBS">
            <wsdl:input name="DeleteWBSRequest" message="tns:DeleteWBS"/>
            <wsdl:output name="DeleteWBSResponse" message="tns:DeleteWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthWBS">
            <wsdl:input name="getFieldLengthWBSRequest" message="tns:getFieldLengthWBS"/>
            <wsdl:output name="getFieldLengthWBSResponse" message="tns:getFieldLengthWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityWBSPath">
            <wsdl:input name="ReadActivityWBSPathRequest" message="tns:ReadActivityWBSPath"/>
            <wsdl:output name="ReadActivityWBSPathResponse" message="tns:ReadActivityWBSPathResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadWBSPath">
            <wsdl:input name="ReadWBSPathRequest" message="tns:ReadWBSPath"/>
            <wsdl:output name="ReadWBSPathResponse" message="tns:ReadWBSPathResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadAllWBS">
            <wsdl:input name="ReadAllWBSRequest" message="tns:ReadAllWBS"/>
            <wsdl:output name="ReadAllWBSResponse" message="tns:ReadAllWBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="CopyWBSFromTemplate">
            <wsdl:input name="CopyWBSFromTemplateRequest" message="tns:CopyWBSFromTemplate"/>
            <wsdl:output name="CopyWBSFromTemplateResponse" message="tns:CopyWBSFromTemplateResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WBSPortBinding" type="tns:WBSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateWBS">
            <soap:operation soapAction="CreateWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadWBS">
            <soap:operation soapAction="ReadWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateWBS">
            <soap:operation soapAction="UpdateWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteWBS">
            <soap:operation soapAction="DeleteWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthWBS">
            <soap:operation soapAction="getFieldLengthWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityWBSPath">
            <soap:operation soapAction="ReadActivityWBSPath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadWBSPath">
            <soap:operation soapAction="ReadWBSPath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadAllWBS">
            <soap:operation soapAction="ReadAllWBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CopyWBSFromTemplate">
            <soap:operation soapAction="CopyWBSFromTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WBSService">
        <wsdl:port name="WBSPort" binding="tns:WBSPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/WBSService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>