dev/middleware/soa/CreateProgram.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="CreateProgram"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:ns2="http://xmlns.bayer.com/ipms/cache"
     xmlns:ns1="http://xmlns.bayer.com/ipms/soa"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.bayer.com/ipms/soa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="CreateProgram">
        <plnk:role name="CreateProgramProvider">
            <plnk:portType name="client:CreateProgram"/>
        </plnk:role>
        <plnk:role name="CreateProgramRequester">
            <plnk:portType name="client:CreateProgramCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.bayer.com/ipms/cache" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/cache/cache.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateProgramRequestMessage">
        <wsdl:part name="payload" element="ns1:create"/>
    </wsdl:message>
    <wsdl:message name="CreateProgramResponseMessage">
        <wsdl:part name="payload" element="ns1:response"/>
    </wsdl:message>
    <wsdl:portType name="CreateProgram">
        <wsdl:operation name="process">
            <wsdl:input message="ns1:CreateProgramRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="CreateProgramCallback">
        <wsdl:operation name="callback">
            <wsdl:input message="ns1:CreateProgramResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
