dev/middleware/soa/PublishTimeline.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PublishTimeline"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:ns2="http://xmlns.bayer.com/ipms/cache"
     xmlns:ns1="http://xmlns.bayer.com/ipms/soa"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.bayer.com/ipms/soa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="PublishTimeline">
        <plnk:role name="PublishTimelineProvider">
            <plnk:portType name="client:PublishTimeline"/>
        </plnk:role>
        <plnk:role name="PublishTimelineRequester">
            <plnk:portType name="client:PublishTimelineCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.bayer.com/ipms/cache" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/cache/cache.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PublishTimelineResponseMessage">
        <wsdl:part name="payload" element="ns1:response"/>
    </wsdl:message>
    <wsdl:message name="PublishTimelineRequestMessage">
        <wsdl:part name="payload" element="ns1:publish"/>
    </wsdl:message>
    <wsdl:portType name="PublishTimelineCallback">
        <wsdl:operation name="callback">
            <wsdl:input message="ns1:PublishTimelineResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PublishTimeline">
        <wsdl:operation name="process">
            <wsdl:input message="ns1:PublishTimelineRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
