dev/middleware/soa/ReadProject.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ReadProject"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:ns2="http://xmlns.oracle.com/Primavera/P6/V18.8.4/API/BusinessObjects"
     xmlns:ns1="http://xmlns.bayer.com/ipms/soa"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns3="http://xmlns.bayer.com/ipms/cache"
     xmlns:client="http://xmlns.bayer.com/ipms/soa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <plnk:partnerLinkType name="ReadProject">
        <plnk:role name="ReadProjectProvider">
            <plnk:portType name="client:ReadProject"/>
        </plnk:role>
        <plnk:role name="ReadProjectRequester">
            <plnk:portType name="client:ReadProjectCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/V18.8.4/API/BusinessObjects" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/V18.8.4/API/BusinessObjects/p6apibo.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.bayer.com/ipms/cache" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/cache/cache.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ReadProjectResponseMessage">
        <wsdl:part name="payload" element="ns1:response"/>
    </wsdl:message>
    <wsdl:message name="ReadProjectRequestMessage">
        <wsdl:part name="payload" element="ns1:read"/>
    </wsdl:message>
    <wsdl:portType name="ReadProjectCallback">
        <wsdl:operation name="callback">
            <wsdl:input message="ns1:ReadProjectResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ReadProject">
        <wsdl:operation name="process">
            <wsdl:input message="ns1:ReadProjectRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
