dev/middleware/soa/ServiceMediator.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ServiceMediator"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.bayer.com/ipms/soa"
     xmlns:tns="http://xmlns.bayer.com/ipms/soa"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="inp1:request"/>
    </wsdl:message>
    <wsdl:message name="callbackMessage">
        <wsdl:part name="callback" element="inp1:response"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="callback_ptt">
        <wsdl:operation name="callback">
            <wsdl:input message="tns:callbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
