dev/middleware/soa/SummarizeTimeline.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="SummarizeTimeline"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.bayer.com/ipms/soa"
     xmlns:cor="http://xmlns.bayer.com/ipms/soa/correlationset"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    >
    <plnk:partnerLinkType name="SummarizeTimeline">
        <plnk:role name="SummarizeTimelineProvider" portType="client:SummarizeTimeline"/>
        <plnk:role name="SummarizeTimelineRequester" portType="client:SummarizeTimelineCallback"/>
    </plnk:partnerLinkType>
    <vprop:propertyAlias propertyName="cor:requestId" messageType="client:SummarizeTimelineRequestMessage"
         part="payload">
        <vprop:query>@id</vprop:query>
    </vprop:propertyAlias>
    <wsdl:import namespace="http://xmlns.bayer.com/ipms/soa/correlationset" location="WSDLs/SummarizeTimeline_properties.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="SummarizeTimelineRequestMessage">
        <wsdl:part name="payload" element="client:summarize"/>
    </wsdl:message>
    <wsdl:message name="SummarizeTimelineResponseMessage">
        <wsdl:part name="payload" element="client:response"/>
    </wsdl:message>
    <wsdl:portType name="SummarizeTimeline">
        <wsdl:operation name="process">
            <wsdl:input message="client:SummarizeTimelineRequestMessage"/>
        </wsdl:operation>
        <wsdl:operation name="continue">
            <wsdl:input message="client:SummarizeTimelineRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="SummarizeTimelineCallback">
        <wsdl:operation name="callback">
            <wsdl:input message="client:SummarizeTimelineResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
