dev/middleware/soa/UpdateRoles.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="UpdateRoles"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:ns2="http://xmlns.bayer.com/ipms/cache"
     xmlns:ns1="http://xmlns.bayer.com/ipms/soa"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.bayer.com/ipms/soa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="UpdateRoles">
        <plnk:role name="UpdateRolesProvider">
            <plnk:portType name="client:UpdateRoles"/>
        </plnk:role>
        <plnk:role name="UpdateRolesRequester">
            <plnk:portType name="client:UpdateRolesCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.bayer.com/ipms/soa"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.bayer.com/ipms/soa"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://xmlns.bayer.com/ipms/cache">
            <import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://xmlns.bayer.com/ipms/cache"
             xmlns:ns1="http://xmlns.bayer.com/ipms/soa" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.bayer.com/ipms/soa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:include schemaLocation="oramds:/apps/com/oracle/xmlns/jazn-data.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://xmlns.bayer.com/ipms/cache"
             xmlns:ns1="http://xmlns.bayer.com/ipms/soa" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.bayer.com/ipms/soa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://xmlns.bayer.com/ipms/cache" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/cache/cache.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpdateRolesResponseMessage">
        <wsdl:part name="payload" element="ns1:response"/>
    </wsdl:message>
    <wsdl:message name="UpdateRolesRequestMessage">
        <wsdl:part name="payload" element="ns1:update"/>
    </wsdl:message>
    <wsdl:portType name="UpdateRolesCallback">
        <wsdl:operation name="callback">
            <wsdl:input message="ns1:UpdateRolesResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="UpdateRoles">
        <wsdl:operation name="process">
            <wsdl:input message="ns1:UpdateRolesRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
