dev/middleware/soa/UpdateFunctions.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="UpdateFunctions"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:ns2="http://xmlns.bayer.com/ipms/cache"
     xmlns:ns1="http://xmlns.bayer.com/ipms/soa"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.bayer.com/ipms/soa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="UpdateFunctions">
        <plnk:role name="UpdateFunctionsProvider" portType="client:UpdateFunctions"/>
        <plnk:role name="UpdateFunctionsRequester" portType="client:UpdateFunctionsCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.bayer.com/ipms/cache" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/cache/cache.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpdateFunctionsResponseMessage">
        <wsdl:part name="payload" element="ns1:response"/>
    </wsdl:message>
    <wsdl:message name="UpdateFunctionsRequestMessage">
        <wsdl:part name="payload" element="ns1:update"/>
    </wsdl:message>
    <wsdl:portType name="UpdateFunctionsCallback">
        <wsdl:operation name="callback">
            <wsdl:input message="ns1:UpdateFunctionsResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="UpdateFunctions">
        <wsdl:operation name="process">
            <wsdl:input message="ns1:UpdateFunctionsRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
