dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/Role/V1/RoleService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/Role/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Role/V1" name="RoleService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/Role/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateRoles">
                <xsd:sequence>
                    <xsd:element name="Role" type="tns:Role" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateRolesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateRoles" type="tns:CreateRoles"/>
            <xsd:element name="CreateRolesResponse" type="tns:CreateRolesResponse"/>

            <xsd:complexType name="ReadRoles">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:RoleFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadRolesResponse">
                <xsd:sequence>
                    <xsd:element name="Role" type="tns:Role" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadRoles" type="tns:ReadRoles"/>
            <xsd:element name="ReadRolesResponse" type="tns:ReadRolesResponse"/>

            <xsd:simpleType name="RoleFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CalculateCostFromUnits"/>
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="Id"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="ParentObjectId"/>
                    <xsd:enumeration value="Responsibilities"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateRoles">
                <xsd:sequence>
                    <xsd:element name="Role" type="tns:Role" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateRolesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateRoles" type="tns:UpdateRoles"/>
            <xsd:element name="UpdateRolesResponse" type="tns:UpdateRolesResponse"/>

            <xsd:complexType name="DeleteRoles">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="DeleteWithReplacement" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                                <xsd:element name="ReplacementObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteRolesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteRoles" type="tns:DeleteRoles"/>
            <xsd:element name="DeleteRolesResponse" type="tns:DeleteRolesResponse"/>

            <xsd:complexType name="getFieldLengthRole">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthRoleResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthRole" type="tns:getFieldLengthRole"/>
            <xsd:element name="getFieldLengthRoleResponse" type="tns:getFieldLengthRoleResponse"/>

            <xsd:complexType name="ReadRolePath">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" maxOccurs="unbounded"/>
                    <xsd:element name="Field" type="tns:RoleFieldType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadRolePathResponse">
                <xsd:sequence>
                    <xsd:element name="Role" type="tns:Role" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadRolePath" type="tns:ReadRolePath"/>
            <xsd:element name="ReadRolePathResponse" type="tns:ReadRolePathResponse"/>

            <xsd:complexType name="Role">
                <xsd:sequence>
                    <xsd:element name="CalculateCostFromUnits" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Id" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ParentObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="Responsibilities" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateRoles">
        <wsdl:part name="params" element="tns:CreateRoles"/>
    </wsdl:message>
    <wsdl:message name="CreateRolesResponse">
        <wsdl:part name="result" element="tns:CreateRolesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadRoles">
        <wsdl:part name="params" element="tns:ReadRoles"/>
    </wsdl:message>
    <wsdl:message name="ReadRolesResponse">
        <wsdl:part name="result" element="tns:ReadRolesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateRoles">
        <wsdl:part name="params" element="tns:UpdateRoles"/>
    </wsdl:message>
    <wsdl:message name="UpdateRolesResponse">
        <wsdl:part name="result" element="tns:UpdateRolesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteRoles">
        <wsdl:part name="params" element="tns:DeleteRoles"/>
    </wsdl:message>
    <wsdl:message name="DeleteRolesResponse">
        <wsdl:part name="result" element="tns:DeleteRolesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthRole">
        <wsdl:part name="params" element="tns:getFieldLengthRole"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthRoleResponse">
        <wsdl:part name="result" element="tns:getFieldLengthRoleResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadRolePath">
        <wsdl:part name="params" element="tns:ReadRolePath"/>
    </wsdl:message>
    <wsdl:message name="ReadRolePathResponse">
        <wsdl:part name="result" element="tns:ReadRolePathResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="RolePortType">
        <wsdl:operation name="CreateRoles">
            <wsdl:input name="CreateRolesRequest" message="tns:CreateRoles"/>
            <wsdl:output name="CreateRolesResponse" message="tns:CreateRolesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadRoles">
            <wsdl:input name="ReadRolesRequest" message="tns:ReadRoles"/>
            <wsdl:output name="ReadRolesResponse" message="tns:ReadRolesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateRoles">
            <wsdl:input name="UpdateRolesRequest" message="tns:UpdateRoles"/>
            <wsdl:output name="UpdateRolesResponse" message="tns:UpdateRolesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteRoles">
            <wsdl:input name="DeleteRolesRequest" message="tns:DeleteRoles"/>
            <wsdl:output name="DeleteRolesResponse" message="tns:DeleteRolesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthRole">
            <wsdl:input name="getFieldLengthRoleRequest" message="tns:getFieldLengthRole"/>
            <wsdl:output name="getFieldLengthRoleResponse" message="tns:getFieldLengthRoleResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadRolePath">
            <wsdl:input name="ReadRolePathRequest" message="tns:ReadRolePath"/>
            <wsdl:output name="ReadRolePathResponse" message="tns:ReadRolePathResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="RolePortBinding" type="tns:RolePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateRoles">
            <soap:operation soapAction="CreateRoles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadRoles">
            <soap:operation soapAction="ReadRoles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateRoles">
            <soap:operation soapAction="UpdateRoles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteRoles">
            <soap:operation soapAction="DeleteRoles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthRole">
            <soap:operation soapAction="getFieldLengthRole" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadRolePath">
            <soap:operation soapAction="ReadRolePath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="RoleService">
        <wsdl:port name="RolePort" binding="tns:RolePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/RoleService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>