dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/GlobalProfile/V1/GlobalProfileService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/GlobalProfile/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/GlobalProfile/V1" name="GlobalProfileService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/GlobalProfile/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateGlobalProfiles">
                <xsd:sequence>
                    <xsd:element name="GlobalProfile" type="tns:GlobalProfile" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateGlobalProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateGlobalProfiles" type="tns:CreateGlobalProfiles"/>
            <xsd:element name="CreateGlobalProfilesResponse" type="tns:CreateGlobalProfilesResponse"/>

            <xsd:complexType name="ReadGlobalProfiles">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:GlobalProfileFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadGlobalProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="GlobalProfile" type="tns:GlobalProfile" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadGlobalProfiles" type="tns:ReadGlobalProfiles"/>
            <xsd:element name="ReadGlobalProfilesResponse" type="tns:ReadGlobalProfilesResponse"/>

            <xsd:simpleType name="GlobalProfileFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="IsDefault"/>
                    <xsd:enumeration value="IsSuperUser"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="Privilege"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateGlobalProfiles">
                <xsd:sequence>
                    <xsd:element name="GlobalProfile" type="tns:GlobalProfile" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateGlobalProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateGlobalProfiles" type="tns:UpdateGlobalProfiles"/>
            <xsd:element name="UpdateGlobalProfilesResponse" type="tns:UpdateGlobalProfilesResponse"/>

            <xsd:complexType name="DeleteGlobalProfiles">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteGlobalProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteGlobalProfiles" type="tns:DeleteGlobalProfiles"/>
            <xsd:element name="DeleteGlobalProfilesResponse" type="tns:DeleteGlobalProfilesResponse"/>

            <xsd:complexType name="getFieldLengthGlobalProfile">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthGlobalProfileResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthGlobalProfile" type="tns:getFieldLengthGlobalProfile"/>
            <xsd:element name="getFieldLengthGlobalProfileResponse" type="tns:getFieldLengthGlobalProfileResponse"/>

            <xsd:complexType name="HasPrivilege">
                <xsd:sequence>
                    <xsd:element name="ProfileObjectId" type="xsd:int"/>
                    <xsd:element name="Privilege" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HasPrivilegeResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HasPrivilege" type="tns:HasPrivilege"/>
            <xsd:element name="HasPrivilegeResponse" type="tns:HasPrivilegeResponse"/>

            <xsd:complexType name="GlobalProfile">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsDefault" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsSuperUser" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="Privilege" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Has" type="xsd:boolean"/>
                                <xsd:element name="Name" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateGlobalProfiles">
        <wsdl:part name="params" element="tns:CreateGlobalProfiles"/>
    </wsdl:message>
    <wsdl:message name="CreateGlobalProfilesResponse">
        <wsdl:part name="result" element="tns:CreateGlobalProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadGlobalProfiles">
        <wsdl:part name="params" element="tns:ReadGlobalProfiles"/>
    </wsdl:message>
    <wsdl:message name="ReadGlobalProfilesResponse">
        <wsdl:part name="result" element="tns:ReadGlobalProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateGlobalProfiles">
        <wsdl:part name="params" element="tns:UpdateGlobalProfiles"/>
    </wsdl:message>
    <wsdl:message name="UpdateGlobalProfilesResponse">
        <wsdl:part name="result" element="tns:UpdateGlobalProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteGlobalProfiles">
        <wsdl:part name="params" element="tns:DeleteGlobalProfiles"/>
    </wsdl:message>
    <wsdl:message name="DeleteGlobalProfilesResponse">
        <wsdl:part name="result" element="tns:DeleteGlobalProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthGlobalProfile">
        <wsdl:part name="params" element="tns:getFieldLengthGlobalProfile"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthGlobalProfileResponse">
        <wsdl:part name="result" element="tns:getFieldLengthGlobalProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="HasPrivilege">
        <wsdl:part name="params" element="tns:HasPrivilege"/>
    </wsdl:message>
    <wsdl:message name="HasPrivilegeResponse">
        <wsdl:part name="result" element="tns:HasPrivilegeResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="GlobalProfilePortType">
        <wsdl:operation name="CreateGlobalProfiles">
            <wsdl:input name="CreateGlobalProfilesRequest" message="tns:CreateGlobalProfiles"/>
            <wsdl:output name="CreateGlobalProfilesResponse" message="tns:CreateGlobalProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadGlobalProfiles">
            <wsdl:input name="ReadGlobalProfilesRequest" message="tns:ReadGlobalProfiles"/>
            <wsdl:output name="ReadGlobalProfilesResponse" message="tns:ReadGlobalProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateGlobalProfiles">
            <wsdl:input name="UpdateGlobalProfilesRequest" message="tns:UpdateGlobalProfiles"/>
            <wsdl:output name="UpdateGlobalProfilesResponse" message="tns:UpdateGlobalProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteGlobalProfiles">
            <wsdl:input name="DeleteGlobalProfilesRequest" message="tns:DeleteGlobalProfiles"/>
            <wsdl:output name="DeleteGlobalProfilesResponse" message="tns:DeleteGlobalProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthGlobalProfile">
            <wsdl:input name="getFieldLengthGlobalProfileRequest" message="tns:getFieldLengthGlobalProfile"/>
            <wsdl:output name="getFieldLengthGlobalProfileResponse" message="tns:getFieldLengthGlobalProfileResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="HasPrivilege">
            <wsdl:input name="HasPrivilegeRequest" message="tns:HasPrivilege"/>
            <wsdl:output name="HasPrivilegeResponse" message="tns:HasPrivilegeResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GlobalProfilePortBinding" type="tns:GlobalProfilePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateGlobalProfiles">
            <soap:operation soapAction="CreateGlobalProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadGlobalProfiles">
            <soap:operation soapAction="ReadGlobalProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateGlobalProfiles">
            <soap:operation soapAction="UpdateGlobalProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteGlobalProfiles">
            <soap:operation soapAction="DeleteGlobalProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthGlobalProfile">
            <soap:operation soapAction="getFieldLengthGlobalProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HasPrivilege">
            <soap:operation soapAction="HasPrivilege" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="GlobalProfileService">
        <wsdl:port name="GlobalProfilePort" binding="tns:GlobalProfilePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/GlobalProfileService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>