dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/ProjectProfile/V1/ProjectProfileService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ProjectProfile/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ProjectProfile/V1" name="ProjectProfileService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ProjectProfile/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateProjectProfiles">
                <xsd:sequence>
                    <xsd:element name="ProjectProfile" type="tns:ProjectProfile" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateProjectProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateProjectProfiles" type="tns:CreateProjectProfiles"/>
            <xsd:element name="CreateProjectProfilesResponse" type="tns:CreateProjectProfilesResponse"/>

            <xsd:complexType name="ReadProjectProfiles">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ProjectProfileFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadProjectProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="ProjectProfile" type="tns:ProjectProfile" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadProjectProfiles" type="tns:ReadProjectProfiles"/>
            <xsd:element name="ReadProjectProfilesResponse" type="tns:ReadProjectProfilesResponse"/>

            <xsd:simpleType name="ProjectProfileFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="IsDefault"/>
                    <xsd:enumeration value="IsSuperUser"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="Privilege"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateProjectProfiles">
                <xsd:sequence>
                    <xsd:element name="ProjectProfile" type="tns:ProjectProfile" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateProjectProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateProjectProfiles" type="tns:UpdateProjectProfiles"/>
            <xsd:element name="UpdateProjectProfilesResponse" type="tns:UpdateProjectProfilesResponse"/>

            <xsd:complexType name="DeleteProjectProfiles">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteProjectProfilesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteProjectProfiles" type="tns:DeleteProjectProfiles"/>
            <xsd:element name="DeleteProjectProfilesResponse" type="tns:DeleteProjectProfilesResponse"/>

            <xsd:complexType name="getFieldLengthProjectProfile">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthProjectProfileResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthProjectProfile" type="tns:getFieldLengthProjectProfile"/>
            <xsd:element name="getFieldLengthProjectProfileResponse" type="tns:getFieldLengthProjectProfileResponse"/>

            <xsd:complexType name="HasPrivilege">
                <xsd:sequence>
                    <xsd:element name="ProfileObjectId" type="xsd:int"/>
                    <xsd:element name="Privilege" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HasPrivilegeResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HasPrivilege" type="tns:HasPrivilege"/>
            <xsd:element name="HasPrivilegeResponse" type="tns:HasPrivilegeResponse"/>

            <xsd:complexType name="ProjectProfile">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsDefault" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsSuperUser" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="Privilege" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="Has" type="xsd:boolean"/>
                                <xsd:element name="Name" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateProjectProfiles">
        <wsdl:part name="params" element="tns:CreateProjectProfiles"/>
    </wsdl:message>
    <wsdl:message name="CreateProjectProfilesResponse">
        <wsdl:part name="result" element="tns:CreateProjectProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadProjectProfiles">
        <wsdl:part name="params" element="tns:ReadProjectProfiles"/>
    </wsdl:message>
    <wsdl:message name="ReadProjectProfilesResponse">
        <wsdl:part name="result" element="tns:ReadProjectProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateProjectProfiles">
        <wsdl:part name="params" element="tns:UpdateProjectProfiles"/>
    </wsdl:message>
    <wsdl:message name="UpdateProjectProfilesResponse">
        <wsdl:part name="result" element="tns:UpdateProjectProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteProjectProfiles">
        <wsdl:part name="params" element="tns:DeleteProjectProfiles"/>
    </wsdl:message>
    <wsdl:message name="DeleteProjectProfilesResponse">
        <wsdl:part name="result" element="tns:DeleteProjectProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthProjectProfile">
        <wsdl:part name="params" element="tns:getFieldLengthProjectProfile"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthProjectProfileResponse">
        <wsdl:part name="result" element="tns:getFieldLengthProjectProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="HasPrivilege">
        <wsdl:part name="params" element="tns:HasPrivilege"/>
    </wsdl:message>
    <wsdl:message name="HasPrivilegeResponse">
        <wsdl:part name="result" element="tns:HasPrivilegeResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ProjectProfilePortType">
        <wsdl:operation name="CreateProjectProfiles">
            <wsdl:input name="CreateProjectProfilesRequest" message="tns:CreateProjectProfiles"/>
            <wsdl:output name="CreateProjectProfilesResponse" message="tns:CreateProjectProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadProjectProfiles">
            <wsdl:input name="ReadProjectProfilesRequest" message="tns:ReadProjectProfiles"/>
            <wsdl:output name="ReadProjectProfilesResponse" message="tns:ReadProjectProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateProjectProfiles">
            <wsdl:input name="UpdateProjectProfilesRequest" message="tns:UpdateProjectProfiles"/>
            <wsdl:output name="UpdateProjectProfilesResponse" message="tns:UpdateProjectProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteProjectProfiles">
            <wsdl:input name="DeleteProjectProfilesRequest" message="tns:DeleteProjectProfiles"/>
            <wsdl:output name="DeleteProjectProfilesResponse" message="tns:DeleteProjectProfilesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthProjectProfile">
            <wsdl:input name="getFieldLengthProjectProfileRequest" message="tns:getFieldLengthProjectProfile"/>
            <wsdl:output name="getFieldLengthProjectProfileResponse" message="tns:getFieldLengthProjectProfileResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="HasPrivilege">
            <wsdl:input name="HasPrivilegeRequest" message="tns:HasPrivilege"/>
            <wsdl:output name="HasPrivilegeResponse" message="tns:HasPrivilegeResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ProjectProfilePortBinding" type="tns:ProjectProfilePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateProjectProfiles">
            <soap:operation soapAction="CreateProjectProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadProjectProfiles">
            <soap:operation soapAction="ReadProjectProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateProjectProfiles">
            <soap:operation soapAction="UpdateProjectProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteProjectProfiles">
            <soap:operation soapAction="DeleteProjectProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthProjectProfile">
            <soap:operation soapAction="getFieldLengthProjectProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="HasPrivilege">
            <soap:operation soapAction="HasPrivilege" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ProjectProfileService">
        <wsdl:port name="ProjectProfilePort" binding="tns:ProjectProfilePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ProjectProfileService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>