dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/UserOBS/V1/UserOBSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/UserOBS/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/UserOBS/V1" name="UserOBSService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/UserOBS/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateUserOBS">
                <xsd:sequence>
                    <xsd:element name="UserOBS" type="tns:UserOBS" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateUserOBSResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="UserObjectId" type="xsd:int"/>
                                <xsd:element name="OBSObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateUserOBS" type="tns:CreateUserOBS"/>
            <xsd:element name="CreateUserOBSResponse" type="tns:CreateUserOBSResponse"/>

            <xsd:complexType name="ReadUserOBS">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:UserOBSFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadUserOBSResponse">
                <xsd:sequence>
                    <xsd:element name="UserOBS" type="tns:UserOBS" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadUserOBS" type="tns:ReadUserOBS"/>
            <xsd:element name="ReadUserOBSResponse" type="tns:ReadUserOBSResponse"/>

            <xsd:simpleType name="UserOBSFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="OBSName"/>
                    <xsd:enumeration value="OBSObjectId"/>
                    <xsd:enumeration value="ProfileName"/>
                    <xsd:enumeration value="ProjectProfileObjectId"/>
                    <xsd:enumeration value="UserName"/>
                    <xsd:enumeration value="UserObjectId"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateUserOBS">
                <xsd:sequence>
                    <xsd:element name="UserOBS" type="tns:UserOBS" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateUserOBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateUserOBS" type="tns:UpdateUserOBS"/>
            <xsd:element name="UpdateUserOBSResponse" type="tns:UpdateUserOBSResponse"/>

            <xsd:complexType name="DeleteUserOBS">
                <xsd:sequence>
                    <xsd:element name="ObjectId" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="UserObjectId" type="xsd:int"/>
                                <xsd:element name="OBSObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteUserOBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteUserOBS" type="tns:DeleteUserOBS"/>
            <xsd:element name="DeleteUserOBSResponse" type="tns:DeleteUserOBSResponse"/>

            <xsd:complexType name="getFieldLengthUserOBS">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthUserOBSResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthUserOBS" type="tns:getFieldLengthUserOBS"/>
            <xsd:element name="getFieldLengthUserOBSResponse" type="tns:getFieldLengthUserOBSResponse"/>

            <xsd:complexType name="UserOBS">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OBSName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OBSObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ProfileName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectProfileObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="UserName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="UserObjectId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateUserOBS">
        <wsdl:part name="params" element="tns:CreateUserOBS"/>
    </wsdl:message>
    <wsdl:message name="CreateUserOBSResponse">
        <wsdl:part name="result" element="tns:CreateUserOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadUserOBS">
        <wsdl:part name="params" element="tns:ReadUserOBS"/>
    </wsdl:message>
    <wsdl:message name="ReadUserOBSResponse">
        <wsdl:part name="result" element="tns:ReadUserOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateUserOBS">
        <wsdl:part name="params" element="tns:UpdateUserOBS"/>
    </wsdl:message>
    <wsdl:message name="UpdateUserOBSResponse">
        <wsdl:part name="result" element="tns:UpdateUserOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteUserOBS">
        <wsdl:part name="params" element="tns:DeleteUserOBS"/>
    </wsdl:message>
    <wsdl:message name="DeleteUserOBSResponse">
        <wsdl:part name="result" element="tns:DeleteUserOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUserOBS">
        <wsdl:part name="params" element="tns:getFieldLengthUserOBS"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUserOBSResponse">
        <wsdl:part name="result" element="tns:getFieldLengthUserOBSResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="UserOBSPortType">
        <wsdl:operation name="CreateUserOBS">
            <wsdl:input name="CreateUserOBSRequest" message="tns:CreateUserOBS"/>
            <wsdl:output name="CreateUserOBSResponse" message="tns:CreateUserOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadUserOBS">
            <wsdl:input name="ReadUserOBSRequest" message="tns:ReadUserOBS"/>
            <wsdl:output name="ReadUserOBSResponse" message="tns:ReadUserOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateUserOBS">
            <wsdl:input name="UpdateUserOBSRequest" message="tns:UpdateUserOBS"/>
            <wsdl:output name="UpdateUserOBSResponse" message="tns:UpdateUserOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteUserOBS">
            <wsdl:input name="DeleteUserOBSRequest" message="tns:DeleteUserOBS"/>
            <wsdl:output name="DeleteUserOBSResponse" message="tns:DeleteUserOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUserOBS">
            <wsdl:input name="getFieldLengthUserOBSRequest" message="tns:getFieldLengthUserOBS"/>
            <wsdl:output name="getFieldLengthUserOBSResponse" message="tns:getFieldLengthUserOBSResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UserOBSPortBinding" type="tns:UserOBSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateUserOBS">
            <soap:operation soapAction="CreateUserOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadUserOBS">
            <soap:operation soapAction="ReadUserOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateUserOBS">
            <soap:operation soapAction="UpdateUserOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteUserOBS">
            <soap:operation soapAction="DeleteUserOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUserOBS">
            <soap:operation soapAction="getFieldLengthUserOBS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UserOBSService">
        <wsdl:port name="UserOBSPort" binding="tns:UserOBSPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/UserOBSService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>