dev/middleware/soa/WSDLs/ReadLeadStudies.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ReadLeadStudies"
     targetNamespace="http://xmlns.bayer.com/ipms/soa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.bayer.com/ipms/soa"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:ns1="http://xmlns.oracle.com/Primavera/P6/WS/UDFValue/V1"
    >
    <plnk:partnerLinkType name="ReadLeadStudies">
        <plnk:role name="ReadLeadStudiesProvider" portType="client:ReadLeadStudies"/>
        <plnk:role name="ReadLeadStudiesRequester" portType="client:ReadLeadStudiesCallback"/>
    </plnk:partnerLinkType>
    <wsdl:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/UDFValue/V1" location="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/UDFValue/V1/UDFValueService.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://xmlns.bayer.com/ipms/soa" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:ns1="http://xmlns.oracle.com/Primavera/P6/WS/UDFValue/V1">
            <import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="ReadLeadStudiesRequestMessage">
        <wsdl:part name="payload" element="client:read"/>
    </wsdl:message>
    <wsdl:message name="ReadLeadStudiesResponseMessage">
        <wsdl:part name="payload" element="client:response"/>
    </wsdl:message>
    <wsdl:portType name="ReadLeadStudies">
        <wsdl:operation name="process">
            <wsdl:input message="client:ReadLeadStudiesRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ReadLeadStudiesCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:ReadLeadStudiesResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
