dev/middleware/bpm/IdentifyProject.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.bayer.com/ipms/soa/IdentifyProject" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns="http://xmlns.bayer.com/ipms/soa/IdentifyProject"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns6="http://xmlns.bayer.com/ipms/soa" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.bayer.com/ipms/soa/IdentifyProject">
            <xsd:import namespace="http://xmlns.bayer.com/ipms/soa" schemaLocation="oramds:/apps/com/bayer/xmlns/ipms/soa/soa.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:identify"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="callbackResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="callbackResponse">
        <wsdl:part name="parameters" element="tns:callbackResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentifyProjectPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="IdentifyProjectPortTypeCallBack">
        <wsdl:operation name="callback">
            <wsdl:input message="tns:callbackResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="IdentifyProjectPortTypePartnerLinkType">
        <plnk:role name="IdentifyProjectPortTypeProvider">
            <plnk:portType name="tns:IdentifyProjectPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
