dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/ProjectCodeAssignment/V1/ProjectCodeAssignmentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ProjectCodeAssignment/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ProjectCodeAssignment/V1" name="ProjectCodeAssignmentService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ProjectCodeAssignment/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateProjectCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="ProjectCodeAssignment" type="tns:ProjectCodeAssignment" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateProjectCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ProjectObjectId" type="xsd:int"/>
                                <xsd:element name="ProjectCodeTypeObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateProjectCodeAssignments" type="tns:CreateProjectCodeAssignments"/>
            <xsd:element name="CreateProjectCodeAssignmentsResponse" type="tns:CreateProjectCodeAssignmentsResponse"/>

            <xsd:complexType name="ReadProjectCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ProjectCodeAssignmentFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadProjectCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="ProjectCodeAssignment" type="tns:ProjectCodeAssignment" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadProjectCodeAssignments" type="tns:ReadProjectCodeAssignments"/>
            <xsd:element name="ReadProjectCodeAssignmentsResponse" type="tns:ReadProjectCodeAssignmentsResponse"/>

            <xsd:simpleType name="ProjectCodeAssignmentFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="IsBaseline"/>
                    <xsd:enumeration value="IsTemplate"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="ProjectCodeDescription"/>
                    <xsd:enumeration value="ProjectCodeObjectId"/>
                    <xsd:enumeration value="ProjectCodeTypeName"/>
                    <xsd:enumeration value="ProjectCodeTypeObjectId"/>
                    <xsd:enumeration value="ProjectCodeValue"/>
                    <xsd:enumeration value="ProjectId"/>
                    <xsd:enumeration value="ProjectName"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateProjectCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="ProjectCodeAssignment" type="tns:ProjectCodeAssignment" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateProjectCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateProjectCodeAssignments" type="tns:UpdateProjectCodeAssignments"/>
            <xsd:element name="UpdateProjectCodeAssignmentsResponse" type="tns:UpdateProjectCodeAssignmentsResponse"/>

            <xsd:complexType name="DeleteProjectCodeAssignments">
                <xsd:sequence>
                    <xsd:element name="ObjectId" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ProjectObjectId" type="xsd:int"/>
                                <xsd:element name="ProjectCodeTypeObjectId" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteProjectCodeAssignmentsResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteProjectCodeAssignments" type="tns:DeleteProjectCodeAssignments"/>
            <xsd:element name="DeleteProjectCodeAssignmentsResponse" type="tns:DeleteProjectCodeAssignmentsResponse"/>

            <xsd:complexType name="getFieldLengthProjectCodeAssignment">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthProjectCodeAssignmentResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthProjectCodeAssignment" type="tns:getFieldLengthProjectCodeAssignment"/>
            <xsd:element name="getFieldLengthProjectCodeAssignmentResponse" type="tns:getFieldLengthProjectCodeAssignmentResponse"/>

            <xsd:complexType name="ProjectCodeAssignment">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectCodeDescription" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectCodeObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ProjectCodeTypeName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectCodeTypeObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="ProjectCodeValue" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectId" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectName" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateProjectCodeAssignments">
        <wsdl:part name="params" element="tns:CreateProjectCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="CreateProjectCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:CreateProjectCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadProjectCodeAssignments">
        <wsdl:part name="params" element="tns:ReadProjectCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="ReadProjectCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:ReadProjectCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateProjectCodeAssignments">
        <wsdl:part name="params" element="tns:UpdateProjectCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="UpdateProjectCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:UpdateProjectCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteProjectCodeAssignments">
        <wsdl:part name="params" element="tns:DeleteProjectCodeAssignments"/>
    </wsdl:message>
    <wsdl:message name="DeleteProjectCodeAssignmentsResponse">
        <wsdl:part name="result" element="tns:DeleteProjectCodeAssignmentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthProjectCodeAssignment">
        <wsdl:part name="params" element="tns:getFieldLengthProjectCodeAssignment"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthProjectCodeAssignmentResponse">
        <wsdl:part name="result" element="tns:getFieldLengthProjectCodeAssignmentResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ProjectCodeAssignmentPortType">
        <wsdl:operation name="CreateProjectCodeAssignments">
            <wsdl:input name="CreateProjectCodeAssignmentsRequest" message="tns:CreateProjectCodeAssignments"/>
            <wsdl:output name="CreateProjectCodeAssignmentsResponse" message="tns:CreateProjectCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadProjectCodeAssignments">
            <wsdl:input name="ReadProjectCodeAssignmentsRequest" message="tns:ReadProjectCodeAssignments"/>
            <wsdl:output name="ReadProjectCodeAssignmentsResponse" message="tns:ReadProjectCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateProjectCodeAssignments">
            <wsdl:input name="UpdateProjectCodeAssignmentsRequest" message="tns:UpdateProjectCodeAssignments"/>
            <wsdl:output name="UpdateProjectCodeAssignmentsResponse" message="tns:UpdateProjectCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteProjectCodeAssignments">
            <wsdl:input name="DeleteProjectCodeAssignmentsRequest" message="tns:DeleteProjectCodeAssignments"/>
            <wsdl:output name="DeleteProjectCodeAssignmentsResponse" message="tns:DeleteProjectCodeAssignmentsResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthProjectCodeAssignment">
            <wsdl:input name="getFieldLengthProjectCodeAssignmentRequest" message="tns:getFieldLengthProjectCodeAssignment"/>
            <wsdl:output name="getFieldLengthProjectCodeAssignmentResponse" message="tns:getFieldLengthProjectCodeAssignmentResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ProjectCodeAssignmentPortBinding" type="tns:ProjectCodeAssignmentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateProjectCodeAssignments">
            <soap:operation soapAction="CreateProjectCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadProjectCodeAssignments">
            <soap:operation soapAction="ReadProjectCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateProjectCodeAssignments">
            <soap:operation soapAction="UpdateProjectCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteProjectCodeAssignments">
            <soap:operation soapAction="DeleteProjectCodeAssignments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthProjectCodeAssignment">
            <soap:operation soapAction="getFieldLengthProjectCodeAssignment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ProjectCodeAssignmentService">
        <wsdl:port name="ProjectCodeAssignmentPort" binding="tns:ProjectCodeAssignmentPortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ProjectCodeAssignmentService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>