dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/UDFType/V1/UDFTypeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/UDFType/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/UDFType/V1" name="UDFTypeService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/UDFType/V1" elementFormDefault="qualified">
            <xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>

            <xsd:complexType name="CreateUDFTypes">
                <xsd:sequence>
                    <xsd:element name="UDFType" type="tns:UDFType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateUDFTypesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateUDFTypes" type="tns:CreateUDFTypes"/>
            <xsd:element name="CreateUDFTypesResponse" type="tns:CreateUDFTypesResponse"/>

            <xsd:complexType name="ReadUDFTypes">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:UDFTypeFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadUDFTypesResponse">
                <xsd:sequence>
                    <xsd:element name="UDFType" type="tns:UDFType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadUDFTypes" type="tns:ReadUDFTypes"/>
            <xsd:element name="ReadUDFTypesResponse" type="tns:ReadUDFTypesResponse"/>

            <xsd:simpleType name="UDFTypeFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="DataType"/>
                    <xsd:enumeration value="Formula"/>
                    <xsd:enumeration value="IsCalculated"/>
                    <xsd:enumeration value="IsConditional"/>
                    <xsd:enumeration value="IsSecureCode"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="SubjectArea"/>
                    <xsd:enumeration value="SummaryMethod"/>
                    <xsd:enumeration value="Title"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateUDFTypes">
                <xsd:sequence>
                    <xsd:element name="UDFType" type="tns:UDFType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateUDFTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateUDFTypes" type="tns:UpdateUDFTypes"/>
            <xsd:element name="UpdateUDFTypesResponse" type="tns:UpdateUDFTypesResponse"/>

            <xsd:complexType name="DeleteUDFTypes">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteUDFTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteUDFTypes" type="tns:DeleteUDFTypes"/>
            <xsd:element name="DeleteUDFTypesResponse" type="tns:DeleteUDFTypesResponse"/>

            <xsd:complexType name="getFieldLengthUDFType">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthUDFTypeResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthUDFType" type="tns:getFieldLengthUDFType"/>
            <xsd:element name="getFieldLengthUDFTypeResponse" type="tns:getFieldLengthUDFTypeResponse"/>

            <xsd:complexType name="GetUDFFieldName">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetUDFFieldNameResponse">
                <xsd:sequence>
                    <xsd:element name="UDFFieldName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetUDFFieldName" type="tns:GetUDFFieldName"/>
            <xsd:element name="GetUDFFieldNameResponse" type="tns:GetUDFFieldNameResponse"/>

            <xsd:complexType name="UDFType">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DataType" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Text"/>
                                <xsd:enumeration value="Start Date"/>
                                <xsd:enumeration value="Finish Date"/>
                                <xsd:enumeration value="Cost"/>
                                <xsd:enumeration value="Double"/>
                                <xsd:enumeration value="Integer"/>
                                <xsd:enumeration value="Indicator"/>
                                <xsd:enumeration value="Code"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Formula" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4000"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="IsCalculated" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsConditional" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsSecureCode" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="SubjectArea" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Activity"/>
                                <xsd:enumeration value="Activity Expense"/>
                                <xsd:enumeration value="Activity Step"/>
                                <xsd:enumeration value="Project"/>
                                <xsd:enumeration value="Project Issue"/>
                                <xsd:enumeration value="Project Risk"/>
                                <xsd:enumeration value="Resource"/>
                                <xsd:enumeration value="Resource Assignment"/>
                                <xsd:enumeration value="WBS"/>
                                <xsd:enumeration value="Work Products and Documents"/>
                                <xsd:enumeration value="Activity Step Template Item"/>
                                <xsd:enumeration value="Lean Task"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SummaryMethod" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="60"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Title" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateUDFTypes">
        <wsdl:part name="params" element="tns:CreateUDFTypes"/>
    </wsdl:message>
    <wsdl:message name="CreateUDFTypesResponse">
        <wsdl:part name="result" element="tns:CreateUDFTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadUDFTypes">
        <wsdl:part name="params" element="tns:ReadUDFTypes"/>
    </wsdl:message>
    <wsdl:message name="ReadUDFTypesResponse">
        <wsdl:part name="result" element="tns:ReadUDFTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateUDFTypes">
        <wsdl:part name="params" element="tns:UpdateUDFTypes"/>
    </wsdl:message>
    <wsdl:message name="UpdateUDFTypesResponse">
        <wsdl:part name="result" element="tns:UpdateUDFTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteUDFTypes">
        <wsdl:part name="params" element="tns:DeleteUDFTypes"/>
    </wsdl:message>
    <wsdl:message name="DeleteUDFTypesResponse">
        <wsdl:part name="result" element="tns:DeleteUDFTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUDFType">
        <wsdl:part name="params" element="tns:getFieldLengthUDFType"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthUDFTypeResponse">
        <wsdl:part name="result" element="tns:getFieldLengthUDFTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="GetUDFFieldName">
        <wsdl:part name="params" element="tns:GetUDFFieldName"/>
    </wsdl:message>
    <wsdl:message name="GetUDFFieldNameResponse">
        <wsdl:part name="result" element="tns:GetUDFFieldNameResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="UDFTypePortType">
        <wsdl:operation name="CreateUDFTypes">
            <wsdl:input name="CreateUDFTypesRequest" message="tns:CreateUDFTypes"/>
            <wsdl:output name="CreateUDFTypesResponse" message="tns:CreateUDFTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadUDFTypes">
            <wsdl:input name="ReadUDFTypesRequest" message="tns:ReadUDFTypes"/>
            <wsdl:output name="ReadUDFTypesResponse" message="tns:ReadUDFTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateUDFTypes">
            <wsdl:input name="UpdateUDFTypesRequest" message="tns:UpdateUDFTypes"/>
            <wsdl:output name="UpdateUDFTypesResponse" message="tns:UpdateUDFTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteUDFTypes">
            <wsdl:input name="DeleteUDFTypesRequest" message="tns:DeleteUDFTypes"/>
            <wsdl:output name="DeleteUDFTypesResponse" message="tns:DeleteUDFTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUDFType">
            <wsdl:input name="getFieldLengthUDFTypeRequest" message="tns:getFieldLengthUDFType"/>
            <wsdl:output name="getFieldLengthUDFTypeResponse" message="tns:getFieldLengthUDFTypeResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetUDFFieldName">
            <wsdl:input name="GetUDFFieldNameRequest" message="tns:GetUDFFieldName"/>
            <wsdl:output name="GetUDFFieldNameResponse" message="tns:GetUDFFieldNameResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="UDFTypePortBinding" type="tns:UDFTypePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateUDFTypes">
            <soap:operation soapAction="CreateUDFTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadUDFTypes">
            <soap:operation soapAction="ReadUDFTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateUDFTypes">
            <soap:operation soapAction="UpdateUDFTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteUDFTypes">
            <soap:operation soapAction="DeleteUDFTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthUDFType">
            <soap:operation soapAction="getFieldLengthUDFType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetUDFFieldName">
            <soap:operation soapAction="GetUDFFieldName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="UDFTypeService">
        <wsdl:port name="UDFTypePort" binding="tns:UDFTypePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/UDFTypeService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>