dev/middleware/bpm/Schemas/ProvideLTCPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.bayer.com/ipms">
   <import namespace="http://xmlns.bayer.com/ipms" schemaLocation="../xsd/ProvideLTCPayload.xsd"/>
   <complexType name="ProvideLTCPayloadType">
      <sequence>
         <element name="dataUsersInProgRole" type="xsd:string"/>
         <element name="dataUsersInGlobalRole" type="xsd:string"/>
         <element ref="ns0:program"/>
         <element ref="ns0:process"/>
      </sequence>
   </complexType>
</schema>
