dev/metadata/ipms.mdslib/mds/apps/com/oracle/xmlns/Primavera/P6/WS/ActivityCodeType/V1/ActivityCodeTypeService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- This file is generated by groovy generator.BOWSDLWriter, do not modify manually! --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCodeType/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intgfault="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCodeType/V1" name="ActivityCodeTypeService">
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/Primavera/P6/WS/ActivityCodeType/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://xmlns.oracle.com/Primavera/P6/WS/IntegrationFaultType/V1" schemaLocation="oramds:/apps/com/oracle/xmlns/Primavera/P6/WS/IntegrationFaultType/V1/IntegrationFault.xsd"/>


            <xsd:complexType name="CreateActivityCodeTypes">
                <xsd:sequence>
                    <xsd:element name="ActivityCodeType" type="tns:ActivityCodeType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreateActivityCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="CreateActivityCodeTypes" type="tns:CreateActivityCodeTypes"/>
            <xsd:element name="CreateActivityCodeTypesResponse" type="tns:CreateActivityCodeTypesResponse"/>

            <xsd:complexType name="ReadActivityCodeTypes">
                <xsd:sequence>
                    <xsd:element name="Field" type="tns:ActivityCodeTypeFieldType" maxOccurs="unbounded"/>
                    <xsd:element name="Filter" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="OrderBy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReadActivityCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="ActivityCodeType" type="tns:ActivityCodeType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ReadActivityCodeTypes" type="tns:ReadActivityCodeTypes"/>
            <xsd:element name="ReadActivityCodeTypesResponse" type="tns:ReadActivityCodeTypesResponse"/>

            <xsd:simpleType name="ActivityCodeTypeFieldType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CreateDate"/>
                    <xsd:enumeration value="CreateUser"/>
                    <xsd:enumeration value="EPSCodeTypeHierarchy"/>
                    <xsd:enumeration value="EPSObjectId"/>
                    <xsd:enumeration value="IsBaseline"/>
                    <xsd:enumeration value="IsSecureCode"/>
                    <xsd:enumeration value="IsTemplate"/>
                    <xsd:enumeration value="LastUpdateDate"/>
                    <xsd:enumeration value="LastUpdateUser"/>
                    <xsd:enumeration value="Length"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="ObjectId"/>
                    <xsd:enumeration value="ProjectObjectId"/>
                    <xsd:enumeration value="RefProjectObjectIds"/>
                    <xsd:enumeration value="Scope"/>
                    <xsd:enumeration value="SequenceNumber"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="UpdateActivityCodeTypes">
                <xsd:sequence>
                    <xsd:element name="ActivityCodeType" type="tns:ActivityCodeType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdateActivityCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="UpdateActivityCodeTypes" type="tns:UpdateActivityCodeTypes"/>
            <xsd:element name="UpdateActivityCodeTypesResponse" type="tns:UpdateActivityCodeTypesResponse"/>

            <xsd:complexType name="DeleteActivityCodeTypes">
                <xsd:sequence>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DeleteActivityCodeTypesResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="DeleteActivityCodeTypes" type="tns:DeleteActivityCodeTypes"/>
            <xsd:element name="DeleteActivityCodeTypesResponse" type="tns:DeleteActivityCodeTypesResponse"/>

            <xsd:complexType name="getFieldLengthActivityCodeType">
                <xsd:sequence>
                    <xsd:element name="Field" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getFieldLengthActivityCodeTypeResponse">
                <xsd:sequence>
                    <xsd:element name="Return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getFieldLengthActivityCodeType" type="tns:getFieldLengthActivityCodeType"/>
            <xsd:element name="getFieldLengthActivityCodeTypeResponse" type="tns:getFieldLengthActivityCodeTypeResponse"/>

            <xsd:complexType name="ActivityCodeType">
                <xsd:sequence>
                    <xsd:element name="CreateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="CreateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="EPSCodeTypeHierarchy" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EPSObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="IsBaseline" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsSecureCode" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="IsTemplate" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
                    <xsd:element name="LastUpdateUser" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="255"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Length" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                                <xsd:minInclusive value="1"/>
                                <xsd:maxInclusive value="60"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Name" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ObjectId" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="ProjectObjectId" type="xsd:int" minOccurs="0" nillable="true"/>
                    <xsd:element name="RefProjectObjectIds" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="Scope" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="Global"/>
                                <xsd:enumeration value="EPS"/>
                                <xsd:enumeration value="Project"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SequenceNumber" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateActivityCodeTypes">
        <wsdl:part name="params" element="tns:CreateActivityCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="CreateActivityCodeTypesResponse">
        <wsdl:part name="result" element="tns:CreateActivityCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodeTypes">
        <wsdl:part name="params" element="tns:ReadActivityCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="ReadActivityCodeTypesResponse">
        <wsdl:part name="result" element="tns:ReadActivityCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityCodeTypes">
        <wsdl:part name="params" element="tns:UpdateActivityCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="UpdateActivityCodeTypesResponse">
        <wsdl:part name="result" element="tns:UpdateActivityCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityCodeTypes">
        <wsdl:part name="params" element="tns:DeleteActivityCodeTypes"/>
    </wsdl:message>
    <wsdl:message name="DeleteActivityCodeTypesResponse">
        <wsdl:part name="result" element="tns:DeleteActivityCodeTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityCodeType">
        <wsdl:part name="params" element="tns:getFieldLengthActivityCodeType"/>
    </wsdl:message>
    <wsdl:message name="getFieldLengthActivityCodeTypeResponse">
        <wsdl:part name="result" element="tns:getFieldLengthActivityCodeTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="IntegrationFault">
        <wsdl:part name="fault" element="intgfault:IntegrationFault"/>
    </wsdl:message>

    <wsdl:portType name="ActivityCodeTypePortType">
        <wsdl:operation name="CreateActivityCodeTypes">
            <wsdl:input name="CreateActivityCodeTypesRequest" message="tns:CreateActivityCodeTypes"/>
            <wsdl:output name="CreateActivityCodeTypesResponse" message="tns:CreateActivityCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodeTypes">
            <wsdl:input name="ReadActivityCodeTypesRequest" message="tns:ReadActivityCodeTypes"/>
            <wsdl:output name="ReadActivityCodeTypesResponse" message="tns:ReadActivityCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityCodeTypes">
            <wsdl:input name="UpdateActivityCodeTypesRequest" message="tns:UpdateActivityCodeTypes"/>
            <wsdl:output name="UpdateActivityCodeTypesResponse" message="tns:UpdateActivityCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityCodeTypes">
            <wsdl:input name="DeleteActivityCodeTypesRequest" message="tns:DeleteActivityCodeTypes"/>
            <wsdl:output name="DeleteActivityCodeTypesResponse" message="tns:DeleteActivityCodeTypesResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityCodeType">
            <wsdl:input name="getFieldLengthActivityCodeTypeRequest" message="tns:getFieldLengthActivityCodeType"/>
            <wsdl:output name="getFieldLengthActivityCodeTypeResponse" message="tns:getFieldLengthActivityCodeTypeResponse"/>
            <wsdl:fault name="IntegrationFault" message="tns:IntegrationFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ActivityCodeTypePortBinding" type="tns:ActivityCodeTypePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateActivityCodeTypes">
            <soap:operation soapAction="CreateActivityCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReadActivityCodeTypes">
            <soap:operation soapAction="ReadActivityCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateActivityCodeTypes">
            <soap:operation soapAction="UpdateActivityCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteActivityCodeTypes">
            <soap:operation soapAction="DeleteActivityCodeTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFieldLengthActivityCodeType">
            <soap:operation soapAction="getFieldLengthActivityCodeType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IntegrationFault">
                <soap:fault name="IntegrationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ActivityCodeTypeService">
        <wsdl:port name="ActivityCodeTypePort" binding="tns:ActivityCodeTypePortBinding">
            <soap:address location="http://p6.ipms:8206/p6ws/services/ActivityCodeTypeService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>